{% extends 'base.html' %}

{% block title %}
Sponsorship
{% endblock %}

{% block content %}
<div class="my-5">
  <h1
    class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    Sponsorship
  </h1>
</div>

<div class="relative mx-auto my-5 w-5/6 overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-200">
      <tr>
        <th scope="col" class="px-6 py-3">Sponsorship Category</th>
        <th scope="col" class="px-6 py-3">Amount</th>
        <th scope="col" class="px-6 py-3">Benefits</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrapd"
        >
          Title Sponsor
        </th>
        <td class="px-6 py-4">INR 10,00,000.00</td>
        <td class="px-6 py-4">
          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
            <li>Exhibition stall (5m x 3m).</li>
            <li>10 free delegates.</li>
            <li>5 exhibitor pass.</li>
            <li>
              1 page advertisement and company logo in the conference book of
              abstracts.
            </li>
            <li>Advertisement in digital display during the event.</li>
          </ul>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrapd"
        >
          Platinum
        </th>
        <td class="px-6 py-4">INR 5,00,000.00</td>
        <td class="px-6 py-4">
          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
            <li>Exhibition stall (5m x 2m).</li>
            <li>8 free delegates.</li>
            <li>4 exhibitor pass.</li>
            <li>
              1 page advertisement and company logo in the conference book of
              abstracts.
            </li>
            <li>Advertisement in digital display during the event.</li>
          </ul>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrapd"
        >
          Gold
        </th>
        <td class="px-6 py-4">INR 3,00,000.00</td>
        <td class="px-6 py-4">
          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
            <li>Exhibition stall (4m x 2m).</li>
            <li>5 free delegates.</li>
            <li>3 exhibitor pass.</li>
            <li>
              1 page advertisement and company logo in the conference book of
              abstracts.
            </li>
            <li>Advertisement in digital display during the event.</li>
          </ul>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrapd"
        >
          Silver
        </th>
        <td class="px-6 py-4">INR 2,00,000.00</td>
        <td class="px-6 py-4">
          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
            <li>One Exhibition stall (3m x 2m).</li>
            <li>2 free delegates.</li>
            <li>2 exhibitor pass.</li>
          </ul>
        </td>
      </tr>
      <tr class="bg-white border-b">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrapd"
        >
          Bronze
        </th>
        <td class="px-6 py-4">INR 1,00,000.00</td>
        <td class="px-6 py-4">
          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside">
            <li>One Exhibition stall (2m x 2m).</li>
            <li>1 free delegate.</li>
            <li>2 exhibitor pass.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
