{% extends 'base.html' %} 
{% block title %} Sponsorship 
{% endblock %} 
{% block content %}
<div class="my-5">
  <h1
    class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    Sponsorship
  </h1>
</div>
<section class="py-8 lg:py-16 mx-auto w-full px-4">
  <div class="text-center">
    <h2 class="text-4xl lg:text-6xl font-extrabold mb-12 font-helvetica">
      Rates – Sponsorship and Exhibition
    </h2>
  </div>

  <div class="max-w-7xl mx-auto px-4 overflow-x-auto">
    <table
      class="table table-striped table-hover border-separate border-gray-200 rounded-lg shadow-md sm:w-full md:w-full lg:w-full overflow-x-scroll mb-4"
    >
      <thead
        class="bg-gradient-to-br from-blue-500 to-blue-700 text-white rounded-t-2xl shadow-lg"
      >
        <tr class="text-center">
          <th
            class="text-2xl font-semibold font-helvetica py-4 pl-4 pr-2"
            colspan="2"
          >
            Conference Exhibition Rates<br />(18th Dec. 2024 to 21st Dec. 2024
            Four days), NITK
          </th>
          <th class="text-2xl font-semibold font-helvetica px-2 pr-4">
            Rates in INR
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold text-xl sm:text-lg md:text-xl py-4">
            1.
          </td>
          <td class="text-center font-bold py-4">3m x 3m (approx) per stall</td>
          <td class="text-center font-bold py-4">50000/-</td>
        </tr>
        <tr>
          <td class="text-center font-semibold text-xl sm:text-lg md:text-xl py-4">
            2.
          </td>
          <td class="text-center font-bold py-4">
            Two stalls of 3m x 3m (premium category)
          </td>
          <td class="text-center font-bold py-4">85000/-</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold text-xl sm:text-lg md:text-xl py-4">
            3.
          </td>
          <td class="text-center font-bold py-4">
            More than two stalls – per extra stall of size 3m x 3m
          </td>
          <td class="text-center font-bold py-4">25000/-</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
  <div class="text-center">
    <h2 class="text-4xl lg:text-6xl font-extrabold mb-12 font-helvetica">
      Other Sponsorships
    </h2>
  </div>

  <div class="max-w-7xl mx-auto px-4 overflow-x-auto">
    <table
      class="table table-striped table-hover border-separate border-gray-200 rounded-lg shadow-md sm:w-full md:w-full lg:w-full overflow-x-scroll mb-4"
    >
      <thead
        class="bg-gradient-to-br from-blue-500 to-blue-700 text-white rounded-t-2xl shadow-lg"
      >
        <tr class="text-center">
          <th class="text-2xl font-semibold font-helvetica py-4 pl-4 pr-2">
            SN
          </th>
          <th class="text-2xl font-semibold font-helvetica px-2">Item</th>
          <th class="text-2xl font-semibold font-helvetica px-2">
            Facilities to the Sponsors
          </th>
          <th class="text-2xl font-semibold font-helvetica pr-4">
            Rates in INR
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold text-xl sm:text-lg md:text-xl py-4">
            1.
          </td>
          <td class="text-center font-bold py-4">Food Arrangements</td>
          <td class="text-center font-semibold py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2">
                1. Advertising at the appropriate places at the food site.
              </li>
              <li class="mb-2">2. Free food passes for 2 members.</li>
              <li class="mb-2">
                3. Sponsor logo on tables placed for food at the food site.
              </li>
              <li class="mb-2">
                4. One-page advertisement of sponsor in organizing material kit.
              </li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">1.5 Lakhs</td>
        </tr>
        <tr>
          <td class="text-center font-semibold text-xl sm:text-lg md:text-xl py-4">
            2.
          </td>
          <td class="text-center font-bold py-4">Registration Kit</td>
          <td class="text-center font-semibold py-4">Logo on kit</td>
          <td class="text-center font-bold py-4">1.5 Lakhs</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
  <div class="text-center">
    <h2 class="text-4xl lg:text-6xl font-extrabold mb-12 font-helvetica">
      Sponsorship Rates
    </h2>
  </div>

  <div class="max-w-7xl mx-auto px-4 overflow-x-auto">
    <table class="table table-striped table-hover border-separate border-gray-200 rounded-lg shadow-md sm:w-full md:w-full lg:w-full overflow-x-scroll mb-4">
      <thead class="bg-gradient-to-br from-blue-500 to-blue-700 text-white rounded-t-2xl shadow-lg">
        <tr class="text-center">
          <th class="text-2xl font-semibold font-helvetica py-4 pl-4 pr-2 sm:text-lg md:text-xl">
            SN
          </th>
          <th class="text-2xl font-semibold font-helvetica px-2 sm:text-lg md:text-xl">
            Category
          </th>
          <th class="text-2xl font-semibold font-helvetica px-2 sm:text-lg md:text-xl">
            Max Sponsors
          </th>
          <th class="text-2xl font-semibold font-helvetica px-2 sm:text-lg md:text-xl">
            Facilities
          </th>
          <th class="text-2xl font-semibold font-helvetica pr-4 sm:text-lg md:text-xl">
            Rates in INR
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold sm:text-lg md:text-xl py-4">1.</td>
          <td class="text-center font-bold py-4">Platinum Sponsor</td>
          <td class="text-center font-semibold py-4">1</td>
          <td class="text-center py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2 font-semibold">
                1. The logo of the main sponsor on the organizing banner.
              </li>
              <li class="mb-2 font-semibold">
                2. Colorful advertisement at the last full page of the souvenir.
              </li>
              <li class="mb-2 font-semibold">3. Space for ads at various venues.</li>
              <li class="mb-2 font-semibold">
                4. Appropriate mention in all types of printed material.
              </li>
              <li class="mb-2 font-semibold">
                5. Sponsor's brochure included in the organizing material kit.
              </li>
              <li class="mb-2 font-semibold">6. Free entrance for 10 nominated members.</li>
              <li class="mb-2 font-semibold">
                7. Invitation to present a 30-minute expert talk.
              </li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">3 Lakhs</td>
        </tr>
        <tr>
          <td class="text-center font-semibold sm:text-lg md:text-xl py-4">2.</td>
          <td class="text-center font-bold py-4">Diamond Sponsor</td>
          <td class="text-center font-semibold py-4">1</td>
          <td class="text-center py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2 font-semibold">
                1. The logo of the main sponsor on the organizing banner.
              </li>
              <li class="mb-2 font-semibold">
                2. Colorful advertisement at the last full page of the souvenir.
              </li>
              <li class="mb-2 font-semibold">3. Space for ads at various venues.</li>
              <li class="mb-2 font-semibold">
                4. Appropriate mention in all types of printed material.
              </li>
              <li class="mb-2 font-semibold">
                5. Sponsor's brochure included in the organizing material kit.
              </li>
              <li class="mb-2 font-semibold">6. Free entrance for 10 nominated members.</li>
              <li class="mb-2 font-semibold">
                7. Invitation to present a 30-minute expert talk.
              </li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">2 Lakhs</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold sm:text-lg md:text-xl py-4">3.</td>
          <td class="text-center font-bold py-4">Gold Sponsor</td>
          <td class="text-center font-semibold  py-4">3</td>
          <td class="text-center py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2 font-semibold">
                1. Logo in place of main co-sponsor on the organizing
                banner/Website.
              </li>
              <li class="mb-2 font-semibold">
                2. Full page color advertisement inside the souvenir.
              </li>
              <li class="mb-2 font-semibold">
                3. Appropriate mention in all types of printed material.
              </li>
              <li class="mb-2 font-semibold">4. Two stalls (3x3mx 2) for Sponsor's.</li>
              <li class="mb-2 font-semibold">
                5. Sponsor's brochure in the organizing materials kit.
              </li>
              <li class="mb-2 font-semibold">6. Free entrance to the 5 nominated members.</li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">3 Lakhs</td>
        </tr>
        <tr>
          <td class="text-center font-semibold sm:text-lg md:text-xl py-4">4.</td>
          <td class="text-center font-bold py-4">Silver Sponsor</td>
          <td class="text-center font-semibold py-4">5</td>
          <td class="text-center py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2 font-semibold">
                1. Full page B&W advertisement inside the souvenir.
              </li>
              <li class="mb-2 font-semibold">
                2. Appropriate place in all types of printed material after
                consent.
              </li>
              <li class="mb-2 font-semibold">
                3. A stall for advertising to the sponsor (3m × 3m).
              </li>
              <li class="mb-2 font-semibold">
                4. Sponsor One Page Form in Organizing Content Kit.
              </li>
              <li class="mb-2 font-semibold">
                5. 5 entrances to the nominated members free admission of
                conference.
              </li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">50,000</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="text-center font-semibold sm:text-lg md:text-xl py-4">5.</td>
          <td class="text-center font-bold py-4">Poster exhibition</td>
          <td class="text-center font-semibold py-4">5</td>
          <td class="text-center py-4">
            <ol class="sm:pl-0 md:pl-4 text-left py-2">
              <li class="mb-2 font-semibold">1. Logo on the organizing website.</li>
              <li class="mb-2 font-semibold">
                2. Advertisement at the poster exhibition site.
              </li>
              <li class="mb-2 font-semibold">
                3. Two Banner/standee received from sponsor at the venue.
              </li>
              <li class="mb-2 font-semibold">4. Free entrance to 2 nominated members.</li>
            </ol>
          </td>
          <td class="text-center font-bold py-4">Less Than 50,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
