{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="my-5 mx-auto w-11/12">
    <h1 class="mb-12 text-center text-4xl font-extrabold leading-none tracking-tight text-blue-700 md:text-5xl lg:text-6xl">
        About Us
    </h1>
    
    <div class="my-8 text-center ">
        <div class="container mx-auto">
            <div class="text-center mb-12">
                <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">
                    About NITK
                </h2>
                    <p class="text-justify  text-xl font-arial">
                        National Institute of Technology Karnataka, Surathkal is located in Mangalore City, Karnataka State,
                        India. The Institute was established as Karnataka Regional Engineering College (KREC) in 1960, and
                        upgraded as National Institute of Technology Karnataka (NITK) in 2002. Mangalore is the headquarters
                        of the coastal district of Dakshina Kannada, and boasts an important centre of education, business
                        and trade in the state. Sri. U. Srinivasa Mallya, a visionary and a philanthropist, contributed
                        immensely to the development of the coastal region of Karnataka, and his effort towards establishment
                        of KREC (now NITK) is the most significant one. In recognition of his role as the founder and architect
                        of the institute, the campus premises is named after him as Srinivasnagar.
                    </p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                    <div class="flex justify-center">
                        <img src="{% static 'img/main_building_reduced.jpg' %}" alt="National Institute of Technology Karnataka, Surathkal"
                             class="h-auto max-h-full max-w-full" style="width: 500px; height:450px;padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                    </div>
                    <div class="flex justify-center">
                        <div style="max-width: 500px; width: 100%; margin: 0 auto;">
                            <div style="margin: 20px; border: 1px solid #ccc; padding: 10px;">
                                <div style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden;">
                                    <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
                                            src="https://www.youtube.com/embed/vEYwgdjac5Y?si=WRvgSyu3P_sHLFbi" 
                                            title="YouTube video player" frameborder="0" 
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>                    
                                       
                </div>
            </div>
        </div>
        
        
        
</div>
        
        

        <div class="my-8 text-center bg-gray-100 ">
            <div class="container mx-auto">
                <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">
                    About Department of Electrical and Electronics Engineering (EEE)
                </h2>
                <div class="flex flex-col-reverse md:flex-row">
                    <div class="flex items-center sm:w-full md:w-1/3">
                        <img src="{% static 'img/eee_dept.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                    </div>                
                    <div class="flex items-center md:w-2/3 md:p-8">
                        <div class="border-l-2 border-r-2 border-gray-300 p-4">
                            <p class="text-justify text-xl font-arial">
                        The Department of Electrical and Electronics Engineering (EEE) is one of the core departments of
                        National Institute of Technology Karnataka (NITK) right from its inception in 1960 as erstwhile
                        Karnataka Regional Engineering College (KREC) with the under-graduate programme. The post-graduate
                        programme specialized in Power and Energy Systems started in the year 1992. Research programmes
                        leading to doctoral degree (Ph.D) were introduced in the year 2003. The department has well-equipped
                        state-of-the-art laboratories to augment the coursework and enhance the research potentials. It has
                        a dynamic group of faculties with profound experience in academics, research and industry, dedicated
                        in teaching-learning process and actively engaged in the cutting edge R&D activities like Smart Grid
                        Operation & Control, Power Electronics & Renewable Energy, Biomedical Imaging & Signal Processing,
                        Electric Vehicle & Wireless Power Transfer, Artificial Intelligence & Machine Learning, etc.
                        Recognitions like Young Faculty Research Fellowship and POSOCO award for research publications have
                        been received by the faculty. Various externally sponsored research projects funded by DST, SERB,
                        MNRE, CPRI, DELL, CDAC, Infineon, Texas Instruments, Schneider Electric, L&T, Robert Bosch, MeitY
                        etc. has been undergoing in the department over the years. The department also undertakes many
                        consultancy projects from industry and other organisations. A good number of publications including
                        patents, international journals & conferences comes throughout the year from its academicians and
                        students.
                    </p>
                </div>
            </div>
          </div>
         </div>
        </div>
        
        <div class="my-8 text-center ">
            <div class="container mx-auto">
                <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4 ">
                    About Mangalore
                </h2>
                <div class="flex flex-col-reverse md:flex-row">
                    <div class="flex items-center md:w-2/3 md:p-8">
                        <div class="border-l-2 border-r-2 border-gray-300 p-4">
                            <p class="text-justify text-xl font-arial">
                                Mangalore , officially known as Mangaluru is a major industrial port city in the Indian state of
                                Karnataka and on the west coast of India. It is located between the Arabian Sea and the Western
                                Ghats about 352 km (219 mi) west of Bangalore, the state capital, 14 km north of Karnataka - Kerala
                                border and 297 km south of Goa. Mangalore is the state's only city to have all four modes of
                                transport—air, road, rail and sea. It is known for being one of the locations of the Indian
                                strategic petroleum reserves.The city developed as a port in the Arabian Sea during ancient times,
                                and after Independence a new port was constructed in 1968 and has since become a major port of India
                                that handles 75 percent of India's coffee and cashew exports. It is also the country's seventh
                                largest container port. Mangalore is one of the fastest developing cities in India. The Dakshina
                                Kannada district with its administrative headquarters at Mangalore has the highest Per Capita Income
                                and Gross State Domestic Product in Karnataka, after Bangalore. Mangalore is a commercial,
                                industrial, business, educational, healthcare, and startup hub. Mangalore City Corporation is
                                responsible for the civic administration which manages the 60 wards of the city. Its landscape is
                                characterised by rolling hills, coconut palms, rivers, and hard laterite soil.
                            </p>
                            <p class="text-justify text-xl font-arial">
                                Mangalore is included as one of the cities in the Smart Cities Mission list and is among the 100
                                smart cities to be developed in India. It has an average elevation of 22 m (72 ft) above mean sea
                                level. It has a tropical monsoon climate and is under the influence of the southwest monsoon. It has
                                its own International Airport which is around 15 km from the city centre.
                            </p>
                        </div>
                    </div>
                    <div class="flex items-center md:w-1/3">
                        <img src="{% static 'img\clock_tower.jpg' %}" alt="Clock Tower" style="width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                    </div>               
                </div>
            </div>
        </div>
        
       
        


        <div class="mt-10 text-center bg-gray-100">
            <div class="container mx-auto px-4 sm:px-6 lg:px-8">
                <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">
                    How to reach NITK
                </h2>
                <div class="text-center">
                    <p class="text-justify text-lg sm:text-xl md:text-2xl lg:text-2xl font-arial font-semibold">
                        NITK is well connected to the city of Mangalore, which can easily be reached via train, flight or bus. 
                    </p>
                    <ul class="list list-decimal ml-16 my-5 text-justify custom-bullet-points">
                        <li class="text-xl sm:text-2xl">Buses from Bangalore and other parts of Karnataka have a stop right in front of the college main gate.</li>
                        <li class="text-xl sm:text-2xl">There are domestic and international flights at Mangalore International Airport, which is well connected to other cities within and outside India.</li>
                        <li class="text-xl sm:text-2xl">If you choose to come via train, Mangalore has two train stations - Mangalore Central railway station, and Mangalore Junction.</li>
                        <li class="text-xl sm:text-2xl">Surathkal also has its railway station, however it is not very well connected to some of the more popular train routes.</li>
                    </ul>
                    <p class="text-justify text-lg sm:text-xl md:text-2xl lg:text-2xl font-arial font-semibold">
                        From Mangalore and Surathkal, there are plenty of autorickshaws, taxi cabs and buses that can drop you to the institute entrance. More information can be found <a href="https://en.wikivoyage.org/wiki/Mangalore" target="_blank" class="underline underline-offset-2 text-sky-800">here</a>.
                    </p>
                </div>
            
            
             
                
                <div class="flex flex-col md:flex-row justify-center"> 
                    <div class="w-full md:w-1/2 md:m-5">
                        <h2 class="my-2 text-2xl font-bold leading-none tracking-tight text-gray-900">
                            Distance from popular destinations
                        </h2>
                        <div class="relative overflow-x-auto">
                            <table class="md:mx-auto text-lg text-left text-gray-500 mt-5 border border-6">
                                <thead class="text-sm md:text-base text-gray-700 uppercase bg-gray-300">
                                    <tr>
                                        <th scope="col" class="px-4 md:px-6 py-3 font-bold border border-6 border-gray-400 bg-gray-200">
                                            Destination
                                        </th>
                                        <th scope="col" class="px-4 md:px-6 py-3 font-bold border border-6 border-gray-400 bg-gray-200">
                                            Distance
                                        </th>                                
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Mangalore Airport
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                            20km
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Mangalore Central Railway Station
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                            21km
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Mangalore Junction Railway Station
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900 border-gray-300">
                                            25km
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Surathkal Railway Station
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900  border-gray-300">
                                            4km
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Mangalore Bus Stand
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                            22km
                                        </td>
                                    </tr>
                                    <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                        <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                            Udupi Bus Stand
                                        </th>
                                        <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900  border-gray-300">
                                            35km
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        
    

    <div class="my-5  ">
        <h2 class="my-2 text-3xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4xl text-center mb-10 mt-10">
            Tourist Attractions near Mangalore
        </h2>
        <div class=" flex-wrap">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 ">
                <div class="image-container flex flex-col items-center">
                    <img src="{% static 'img/Bekal_Fort_Kasargod.jpg' %}" alt="Tourist Place 1" class="place-image" style="width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                    <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Bekal Fort</p>
                </div>                
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Agumbe.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px; height:450px ;padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Agumbe Hill</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Yana_Caves.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px;height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Yana Caves</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Jog_Falls.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Jog Falls</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Panambur_Beach.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px;height:450px ;padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Panambur Beach</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Tannirubhavi_beach.jpeg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px;height:450px ;padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Tannirbavi Beach</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/nitk-lighthouse.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">NITK lighthouse</p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Murudeshwara.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Murudeshwar Temple </p>
            </div>
            <div class="image-container flex flex-col items-center">
                <img src="{% static 'img/Udupi_Temple.jpg' %}" alt="Tourist Place 1" class="place-image" style=" width: 500px; height:450px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
                <p class="image-caption" style="font-size: 24px; font-weight: bold; margin-top: 10px;text-align: center;">Udupi Krishna Matha Temple </p>
            </div>
        </div>
    </div>
    
    </div>
    

</div>
{% endblock %}