{% extends 'base.html' %}
{% load static %}
{%block title%}
Accomodation
{%endblock%}

{%block content%}







        

<div class="my-5 mx-auto w-11/12">
    <h1 class="mb-12 text-center text-4xl font-extrabold leading-none tracking-tight text-blue-700 md:text-5xl lg:text-6xl">
        Accomodation
    </h1>
</div>    

<div class="my-8 bg-gray-100 shadow-xl p-4 text-2xl md:text-3xl lg:text-3xl font-bold mb-4 px-8">
    4-star hotels
</div>

        

<div class="my-8 text-center bg-gray-100 rounded-lg shadow-xl p-4 mx-6">
    <div class="container mx-auto"> 
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/savera.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Savera Seafront</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  9km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/savera-seafront-hotel-in-nitk%20lighthouse-4500984229296194684/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B4%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/savera_seafront-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-900" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/sun_sand_sea.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Sun Sand Sea-Esta 2BHK Luxury Beach Staycations</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  7.5km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/sun-sand-seaesta-2bhk-luxury-beach-staycations-hotel-in-nitk%20lighthouse-2705168794398797361/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B4%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/sun_sand_sea_esta_2bhk_luxury_beach_staycations-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-900" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/oceanpearl.jpeg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">The Ocean Pearl</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  16.3km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/the-ocean-pearl-hotel-in-mangalore-3871112423294946532/" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/the_ocean_pearl-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-900" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/DeepaComforts.png' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Hotel Deepa Comforts - M.G. ROAD</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  17.5km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/deepa-comforts-mg-road-hotel-in-mg%20road-6527138645262284877/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/hotel_deepa_comforts_m_g_road-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
          
        


<div class="my-8 bg-gray-100 rounded-lg shadow-xl p-4 text-2xl md:text-3xl lg:text-3xl font-bold mb-4 px-8">
    3-star hotels
</div>

<div class="my-8 text-center bg-gray-100 rounded-lg shadow-xl p-4 mx-6">
    <div class="container mx-auto"> 
        <hr class="my-4 border-t-3 border-gray-500" />
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/motimahal.png' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Hotel Moti Mahal</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  18.3km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/moti-mahal-hotel-in-mangalore-4004723426992949216/" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/hotel_moti_mahal-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/beach_heaven.png' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Beach Heaven Surathkal</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  9km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/beach-heaven-surathkal-hotel-in-nitk%20lighthouse-2983698781197517691/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B3%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/beach_heaven_surathkal-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/sai_suraj.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Hotel Sai Suraj International</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  2.4km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/sai-suraj-international-suratkal-hotel-in-nitk%20lighthouse-4867693050158772635/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B3%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/hotel-details/?hotelId=201411131430042956&_uCurrency=INR&checkin=07232024&checkout=07242024&city=CTIXE&cmp=SEO&country=IN&lat=12.99604&lng=74.79896&locusId=CTIXE&locusType=city&mmAreaTag=Surathkal%7CARSURATH&modifyDates=true&rank=3&roomStayQualifier=2e0e&searchText=Surathkal%2C%20Mangalore&seoDS=true&seoReq=1719515673504&mtkeys=defaultMtkey" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/shanthala.jpeg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Hotel Shanthala</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  3.3km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/shanthala-hotel-in-nitk%20lighthouse-6660153246432169376/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B3%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/hotel_shanthala-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm pointer-events-none cursor-not-allowed line-through">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/vaishnavi_riveries.jpeg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Vaishnavi-Reveries</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  10.5km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/vaishnavireveries-hotel-in-nitk%20lighthouse-5489411761949801022/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B3%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/vaishnavi_reveries-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-8 bg-gray-100 rounded-lg shadow-xl p-4 text-2xl md:text-3xl lg:text-3xl font-bold mb-4 px-8">
    Budget hotels
</div>


<div class="my-8 text-center bg-gray-100 rounded-lg shadow-xl p-4 mx-6">
    <div class="container mx-auto">
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/red-rock.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Red Rock Residency</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  1.9km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.tripadvisor.in/Hotel_Review-g297630-d3531941-Reviews-Red_Rock_Residency-Mangalore_Dakshina_Kannada_District_Karnataka.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on TripAdvisor</a>
                        <a href="https://www.trivago.in/en-IN/oar/resort-red-rock-residency-mangalore?search=100-4923708" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Trivago</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/garuda.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Garuda Comforts</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  0.2km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.tripadvisor.in/Hotel_Review-g16817214-d16817012-Reviews-Capital_O_13489_Garuda_Comforts-Surathkal_Karnataka.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on TripAdvisor</a>
                        <a href="https://www.trivago.in/en-IN/oar/hotel-capital-o-13489-garuda-comforts-mangalore?search=100-10639118" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Trivago</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->  
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/skanda_comforts.png' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Skanda Comforts - Boarding & Lodging</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  1.9km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/skanda-comforts-boarding-lodging-hotel-in-nitk%20lighthouse-5200089049770500167/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B0%2C1%2C2%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/skanda_comforts_boarding_lodging-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 border-t-3 border-gray-500" />
        <!-- next child -->
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="flex items-center sm:w-full md:w-1/2">
                <img src="{% static 'img/shree_krishna.jpg' %}" alt="Department of Electrical and Electronics Engineering" style="width: 400px; height:300px; padding: 10px;box-shadow: 2px 2px 5px rgba(0,0,0,0.5);">
            </div>                
            
            <div class="flex items-center md:w-1/2 md:p-8">
                <div class="card rounded-lg shadow-md">
                    <div class="flex flex-col md:flex-row">
                      <div class="flex flex-col p-4 md:p-8">
                        <h2 class="text-left text-2xl font-bold mb-2">Hotel Shree Krishna Palace</h2>
                       
                        <div class="flex items-center space-x-2 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.9 7.1A5.49 5.49 0 0 0 6 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28m7.17-10.56a5.49 5.49 0 0 0-8.27 1.58C1.54 5.83 0 8.17 0 12c0 3.31.54 6.17 1.58 8.27m1.84-1.78a11.68 11.68 0 0 1 4.28-4.28m-10.91 3.87a11.68 11.68 0 0 1 4.28 4.28" />
                          </svg>
                          <span class="text-gray-700">Distance from NITK campus:  3.2km</span>
                        </div>
                        <div class="flex flex-col md:flex-row md:space-x-8">
                        <a href="https://www.goibibo.com/hotels/shree-krishna-palace-hotel-in-nitk%20lighthouse-2895200803460830738/?hquery={%22ci%22:%2220240723%22,%22co%22:%2220240724%22,%22r%22:%221-2-0%22,%22ibp%22:%22%22}&cc=IN&reviewType=gi&vcid=8122644638120735625&srpFilters=%7B%22location_search%22%3A%5B%7B%22loc_id%22%3A%228786637372369738487%22%2C%22id_type%22%3A%22voy%22%2C%22n%22%3A%22NITK%20Lighthouse%22%2C%22mmId%22%3A%22POI71050%22%2C%22mmType%22%3A%22poi%22%2C%22lat%22%3A%2213.0096346%22%2C%22lng%22%3A%2274.7887421%22%2C%22auto%22%3A%22true%22%7D%5D%2C%22range_ugc%22%3A%5B%5D%2C%22star%22%3A%5B0%2C1%2C2%5D%7D&locusId=CTIXE&locusType=city&cityCode=CTIXE" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on Goibibo</a>
                        <a href="https://www.makemytrip.com/hotels/hotel_shree_krishna_palace-details-mangalore.html" target="_blank" class="btn mt-4 bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-sm">Book on MakeMyTrip</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="mt-10 text-center p-4">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 card rounded-lg shadow-md">
        <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">
            How to reach NITK
        </h2>
        <div class="text-center">
            <p class="text-justify text-lg sm:text-xl md:text-2xl lg:text-2xl font-arial font-semibold">
                NITK is well connected to the city of Mangalore, which can easily be reached via train, flight or bus. 
            </p>
            <ul class="list list-decimal ml-16 my-5 text-justify custom-bullet-points">
                <li class="text-xl sm:text-2xl">Buses from Bangalore and other parts of Karnataka have a stop right in front of the college main gate.</li>
                <li class="text-xl sm:text-2xl">There are domestic and international flights at Mangalore International Airport, which is well connected to other cities within and outside India.</li>
                <li class="text-xl sm:text-2xl">If you choose to come via train, Mangalore has two train stations - Mangalore Central railway station, and Mangalore Junction.</li>
                <li class="text-xl sm:text-2xl">Surathkal also has its railway station, however it is not very well connected to some of the more popular train routes.</li>
            </ul>
            <p class="text-justify text-lg sm:text-xl md:text-2xl lg:text-2xl font-arial font-semibold">
                From Mangalore and Surathkal, there are plenty of autorickshaws, taxi cabs and buses that can drop you to the institute entrance. More information can be found <a href="https://en.wikivoyage.org/wiki/Mangalore" target="_blank" class="underline underline-offset-2 text-sky-800">here</a>.
            </p>
        </div>
    
    
     
        
        <div class="flex flex-col md:flex-row justify-center"> 
            <div class="w-full md:w-1/2 md:m-5">
                <h2 class="my-2 text-2xl font-bold leading-none tracking-tight text-gray-900">
                    Distance from popular destinations
                </h2>
                <div class="relative overflow-x-auto">
                    <table class="md:mx-auto text-lg text-left text-gray-500 mt-5 border border-6">
                        <thead class="text-sm md:text-base text-gray-700 uppercase bg-gray-300">
                            <tr>
                                <th scope="col" class="px-4 md:px-6 py-3 font-bold border border-6 border-gray-400 bg-gray-200">
                                    Destination
                                </th>
                                <th scope="col" class="px-4 md:px-6 py-3 font-bold border border-6 border-gray-400 bg-gray-200">
                                    Distance
                                </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Mangalore Airport
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                    20km
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Mangalore Central Railway Station
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                    21km
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Mangalore Junction Railway Station
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900 border-gray-300">
                                    25km
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Surathkal Railway Station
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900  border-gray-300">
                                    4km
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Mangalore Bus Stand
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6  font-medium text-gray-900 border-gray-300">
                                    22km
                                </td>
                            </tr>
                            <tr class="bg-gray-50 border-b hover:bg-gray-100">
                                <th scope="row" class="px-4 md:px-6 py-4 font-medium text-gray-900 whitespace-nowrap border border-6 border-gray-300">
                                    Udupi Bus Stand
                                </th>
                                <td class="px-4 md:px-6 py-4 border border-6 font-medium text-gray-900  border-gray-300">
                                    35km
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-8 text-center rounded-lg shadow-xl p-4">
    <div class="container mx-auto"> 
        <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold mb-4">
            NITK Location By Map
        </h2>
        <div class="flex md:justify-between flex-col md:flex-row">
            <div class="relative md:w-1/2 h-80">
                <iframe class="absolute top-0 left-0 w-full h-full"
                    src="https://www.google.com/maps/embed/v1/place?q=National+Institute+of+Technology+Karnataka,+Srinivasnagar,+Surathkal,+Mangaluru,+Karnataka,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>               
            
            <div class="flex items-center md:w-1/2 md:p-8 text-justify card rounded-lg shadow-md">A lush green campus on the shores of the Arabian sea, nourished and blessed by the monsoon showers.
NITK is located on the coastal belt of Karnataka, on the National Highway 66, at about 22 kms from Mangalore towards Udupi. 
It lies close to Mangalore International Airport, Mangalore Railway Station and the Mangalore Port. 
Bus Routes from Mumbai, Goa and Bangalore (that terminate at Udupi-Manipal) pass through the College and visitors can disembark right away.
            </div>
        </div>
    </div>
</div>





    

</div>
{%endblock%}