{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4 font-helvetica ">Instruction for Authors</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 font-helvetica text-justify">
        <p>IEEE PEDES 2022 invites researchers, practitioners, 
            and students worldwide to submit previously unpublished 
            original papers for consideration to be presented at the 
            conference. All submissions will be peer reviewed.</p>
    </ul>
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4 font-helvetica">Digest Submission Guidelines</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 ml-4 font-helvetica text-justify">
        <li>Initial submission of digest (4 page max.) including figures and references are allowed in pdf format.</li>
        <li>Total file size of the digest must not exceed 2 MB.</li>
        <li>Accepted papers after the initial review will get the opportunity to submit full paper (6 pages max.).</li>
        <li>Up to two (2) extra pages are permissible with an additional fee to be paid at the time of registration.</li>
    </ul>
</section>


{% endblock %}