{% extends 'base.html' %}
{% load static %}

{% block title %}
Call for Papers
{% endblock %}

{% block content %}
<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 font-helvetica">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4">INSTRUCTIONS FOR AUTHORS</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 mr-2 ml-2 text-justify">
        <li><strong>IEEE PEDES 2024</strong> invites researchers, practitioners, and students worldwide to submit previously unpublished original papers for consideration to be presented at the conference. All submissions will be peer-reviewed.</li>
        <li><strong>Templates for Digest Submission: </strong>
            <a href="{% static 'digest/Digest-Sample-Format-A4.docx' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800"><strong>MSWord</strong></a> | 
            <a href="{% static 'digest/document.tex' %}" target="_blank" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800"><strong>Latex</strong></a>
          </li>
          
        <li>Please note that the submission site does not send automatic emails of acknowledgment. Authors may, however, use the icon named "send email" available towards the end of the submission process near the top right side corner of the screen to get the submission site to send a confirmation email to themselves.</li>
    </ul>
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 font-helvetica">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4">DIGEST SUBMISSION GUIDELINES</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 ml-2 mr-2 text-justify">
        <li>Initial submission of digest <strong>(4 pages max.)</strong> including figures and references are allowed in PDF format.</li>
        <li>Total file size of the digest must not exceed <strong>2 MB</strong>.</li>
        <li>Accepted papers after the initial review will get the opportunity to submit a full paper (6 pages max.).</li>
        <li>Up to two (2) extra pages are permissible with an additional fee to be paid at the time of registration.</li>
    </ul>
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 font-helvetica">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4">IMPORTANT DEADLINES FOR AUTHORS</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 ml-2 mr-2 text-justify">
        <li>Opening Date of Submission of Digest: <strong>15<sup>th</sup> February 2024</strong></li>
        <li>Last Date of Submission of Digest: <strong>31<sup>st</sup> May 2024</strong></li>
        <li>Acceptance Notification of Digest: <strong>15<sup>th</sup> August 2024</strong></li>
        <li>Submission of Final Manuscript and Copyright Form: <strong>1<sup>st</sup> September 2024</strong></li>
        <li>Conference Registration Deadlline: <strong>5<sup>th</sup> December 2024</strong></li>
    </ul>    
</section>

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 font-helvetica ">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-4">IMPORTANT NOTICE</h2>
    </div>
    <p class="text-xl mb-4 text-gray-700 mr-2 ml-2">1. All digests submitted to <strong>PEDES 2024</strong> will undergo a plagiarism check. Digests with similarity scores of 30% or above may be rejected without further review.</p>
    <p class="text-xl mb-4 text-gray-700 mr-2 ml-2">2. Acceptance of the digest does not guarantee acceptance of the final paper.</p>
    <p class="text-xl mb-4 text-gray-700 mr-2 ml-2">The organizing committee of <strong>PEDES 2024</strong> reserves the right to reject papers for the following reasons (one or more of):</p>
    <ul class="list-disc pl-6 mb-4 text-justify text-gray-700 mr-2 ml-2">
        <li class="text-xl">With poor language</li>
        <li class="text-xl">With poor technical content</li>
        <li class="text-xl">Not addressing reviewer's remarks</li>
        <li class="text-xl">Dissimilarity between contents of digest and final uploaded manuscript.</li>
    </ul>
    <p class="text-xl mb-6 text-gray-700 mr-2 ml-2">We hope <strong>PEDES 2024</strong> will be a remarkable and unforgettable event for you.</p>
</section>




{% endblock %}