{% extends 'base.html' %}
{% load static %}

{% block title %}
Final Camera Ready Paper and Copyright Form Submission Instructions
{% endblock %}

{% block content %}
<section class="py-4 lg:py-8 mx-auto max-w-screen-xl px-4 sm:px-6 md:px-8 font-helvetica leading-relaxed">
    <div class="text-center">
        <h2 class="text-2xl sm:text-3xl font-extrabold mb-4">FINAL CAMERA READY PAPER AND COPYRIGHT FORM SUBMISSION INSTRUCTIONS</h2>
    </div>

    <ul class="list-disc text-base sm:text-lg md:text-xl text-gray-700 mb-4 ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8 text-justify">
        <li class="mb-4">You are instructed to follow the instructions for preparing the final Camera Ready Paper and Copyright Form submission as given below:</li>
    </ul>

    <div class="ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4">Step 1: Final Camera-ready paper submission Preparation</h3>
        <ol class="list-decimal text-sm sm:text-base md:text-xl text-gray-600 ml-6 sm:ml-8 md:ml-10 mb-4">
            <li class="mb-4">Please follow the IEEE two-column A4 size standard conference format for preparing your final manuscript. For more details, please visit the IEEE Templates page: 
                <a href="https://www.ieee.org/conferences/publishing/templates.html" class="text-blue-600 font-semibold hover:underline">IEEE Templates</a>.
            </li>
            <li class="mb-4">Revised Version: Revise your paper based on reviewers’ comments/suggestions. The reviewer’s comments are available on the same Microsoft CMT Portal: 
                <a href="https://cmt3.research.microsoft.com/" class="text-blue-600 font-semibold hover:underline">Reviewer Comments</a>. Authors should ensure that the reviewers’ and meta-reviewers’ comments have been addressed in the final manuscript.
            </li>
            <li class="mb-4">The maximum page limit is six pages, including references. Do not include an author biography at the end. If additional pages are necessary, up to 8 pages are permitted subject to an extra payment of Rs. 500 ($25) per additional page.</li>
            <li class="mb-4">Similarity index with other papers should be less than 30% excluding references. The maximum file size allowed is 3 MB, and the file format should be PDF (.pdf) without encryption or passwords.</li>
        </ol>
    </div>

    <div class="ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4">Step 2: IEEE Copyright Notice</h3>
        <p class="text-sm sm:text-base md:text-xl text-gray-600 mb-4">An appropriate copyright notice is to appear at the bottom of the first page of each paper. Replace the copyright notice in the camera-ready paper template (if it is provided in the template) with the correct copyright notice as follows:</p>
        <ol class="list-decimal text-sm sm:text-base md:text-xl text-gray-600 ml-6 sm:ml-8 md:ml-10 mb-4">
            <li class="mb-4">For papers in which all authors are employed by the US government, the copyright notice is: 
                <span class="font-bold">U.S. Government work not protected by U.S. copyright</span>.
            </li>
            <li class="mb-4">For papers in which all authors are employed by a Crown government (UK, Canada, and Australia), the copyright notice is: 
                <span class="font-bold">979-8-3503-7247-2/24/$31.00 ©2024 Crown</span>.
            </li>
            <li class="mb-4">For papers in which all authors are employed by the European Union, the copyright notice is: 
                <span class="font-bold">979-8-3503-7247-2/24/$31.00©2024 European Union</span>.
            </li>
            <li>For all other papers the copyright notice is: 
                <span class="font-bold">979-8-3503-7247-2/24/$31.00 ©2024 IEEE</span>.
            </li>
        </ol>
    </div>

    <div class="ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4">Step 3: PDF eXpress Check</h3>
        <p class="text-sm sm:text-base md:text-xl text-gray-600 mb-4">After preparing the final revised manuscript, submit your manuscript to PDF eXpress using Conference ID (61459X) at the URL 
            <a href="https://ieee-pdf-express.org/Account/Login" class="text-blue-600 font-semibold hover:underline">https://ieee-pdf-express.org/Account/Login</a>. 
            If you do not have an account in PDF eXpress, click on the link “Create Account” and fill in your information (email address and password). If you are not familiar with PDF eXpress, you can get detailed instructions on using IEEE PDF eXpress at: 
            <a href="https://ieee-pdf-express.org/External/UsingIEEEPDFeXpress" class="text-blue-600 font-semibold hover:underline">Using IEEE PDF eXpress</a> or contact at 
            <a href="mailto:pradyumn.c@eee.vnit.ac.in" class="text-blue-600 font-semibold hover:underline">pradyumn.c@eee.vnit.ac.in</a>.
        </p>
    </div>

    <div class="ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4">Step 4: Camera Ready Paper Submission</h3>
        <p class="text-sm sm:text-base md:text-xl text-gray-600 mb-4">Submit the Camera Ready Paper (after passing it through PDF express check) through the author console in CMT. Please change the file name of the PDF eXpress checked camera ready paper to PIDxxx (where xxx is your paper ID in CMT) before submission to CMT. Please note that authors are expected to retain the title of the original paper in the final paper. Also, the author list and order in the original paper cannot be changed in the final manuscript.</p>
    </div>

    <div class="ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4">Step 5: Submission of the Copyright Form</h3>
        <p class="text-sm sm:text-base md:text-xl text-gray-600 mb-4">After uploading the Camera Ready Paper (the paper must have passed PDF Check in IEEE PDF eXpress), click on ‘Submit IEEE Copyright Form’ link to enter the IEEE Copyright Form Submission CMT page. Click on the IEEE copyright website link. Now, the author will be redirected to IEEE eCF site to submit copyright form. After filling out the IEEE Copyright Form on eCF website, authors need to download the form and upload it into CMT. Please note that the corresponding author can submit the copyright form for all the authors.</p>
    </div>
     
</section>

<section class="py-4 lg:py-8 mx-auto max-w-screen-xl px-4 sm:px-6 md:px-8 font-helvetica leading-relaxed pt-0">
    <div class="text-center mb-8">
        <h2 class="text-2xl sm:text-3xl font-extrabold mb-4 text-gray-800">INSTRUCTIONS FOR ORAL/ONLINE AND POSTER PRESENTATION</h2>
    </div>

    <!-- Section 1: Oral Presentation Instructions -->
    <div class="mb-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4 text-gray-800">INSTRUCTIONS FOR ORAL/ONLINE PRESENTATION</h3>
        <ol class="list-decimal text-base sm:text-lg md:text-xl text-gray-700 mb-4 ml-6 space-y-4 text-justify">
            <li>Presentation Time: 12 minutes for the presentation followed by 3 minutes for questions.</li>
            <li>Presentation should be uploaded in .pptx (PowerPoint) or .pdf (Adobe) extension.</li>
            <li>Save your presentation with the following filename format: PID_ Track No._Session No. (Example: 413_TT5_TS2)</li>
            <li>Presentations must be submitted online via the link provided.<a href="https://forms.gle/GuYcZBy8aqhTQ1TB8" class="text-blue-600 font-semibold hover:underline">Submit</a></li>
            <li>Arrive at the presentation room/google meet 10-15 minutes early to ensure a smooth start and avoid any delays to keep the session on schedule.</li>
            <li>Template for oral presentation: <a href="{% static 'pdf/PPTTemplate.pptx' %}" class="text-blue-600 font-semibold hover:underline">PPT</a>.</li>
        </ol>
    </div>

    <!-- Section 2: Poster Presentation Instructions -->
    <div class="mb-8">
        <h3 class="text-xl sm:text-2xl font-bold mb-4 text-gray-800">INSTRUCTIONS FOR POSTER PRESENTATION</h3>
        <ol class="list-decimal text-base sm:text-lg md:text-xl text-gray-700 mb-4 ml-6 space-y-4 text-justify">
            <li>Papers accepted in Poster presentation are eligible for inclusion in IEEE Xplore.</li>
            <li>All posters must contain figures and graphics from the submitted paper to illustrate and support their work.</li>
            <li>The posters must be created, transported to the conference, and presented by an author or their representative.</li>
            <li>The posters must be posted at least thirty minutes prior to the respective poster session. Thumbtacks will be provided.</li>
            <li>The posters must be removed within one hour of the close of the respective session.</li>
            <li>Presenting authors must remain near their posters to address questions and present their work for the duration of the poster session.</li>
            <li>The usable space on each poster board for the poster sessions is approximately 36 inches wide by 48 inches high.</li>
            <li>Template for poster presentation: <a href="{% static 'pdf/POSTERTemplate.pptx' %}" class="text-blue-600 font-semibold hover:underline">POSTER</a>.</li>
        </ol>
    </div>

    <!-- Section 3: Additional Information -->
    <div>
        <p class="text-sm sm:text-base md:text-xl text-gray-600 mb-4 text-justify font-bold">
            All papers presented in Oral and Poster presentation at IEEE PEDES 2024 are eligible for inclusion in IEEE Xplore.
        </p>
    </div>
    

</section>



{% endblock %}
