{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div>

</div>
<div style="margin: 40px;">
    <p class="text-4xl text-gray-900, text-center">Key Committeee Members</p>
</div>
<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900, text-left">Patrons</p>
</div>
<div id="patrons">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Designation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        B Ravi
                    </th>
                    <td class="px-6 py-4">
                        Director
                    </td>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Tomy Sebastian
                    </th>
                    <td class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4">

                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Honorary Chair</p>
</div>

<div id="HonoraryChair">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Designation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Wei-Jen Lee
                    </th>
                    <td class="px-6 py-4">
                        President: IEEE IAS
                    </td>
                    <td class="px-6 py-4">
                        
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Brad Lehman
                    </th>
                    <td class="px-6 py-4">
                        President: IEEE PELS
                    </td>
                    <td class="px-6 py-4">
                        
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Jessica J Bian
                    </th>
                    <td class="px-6 py-4">
                        President: IEEE PES
                    </td>
                    <td class="px-6 py-4">
                        
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Bhim Singh
                    </th>
                    <td class="px-6 py-4">
                        
                    </td>
                    <td class="px-6 py-4">
                        IIT Delhi
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">General Chairs</p>
</div>

<div id="GeneralChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        R Kalpana
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        P Parthiban
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Brij Singh
                    </th>
                    <td class="px-6 py-4">
                        -
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        John Deere
                    </th>
                    <td class="px-6 py-4">
                        -
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">International Advisory Committee</p>
</div>

<div id="InternationalAdvisoryCommittee">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Krishna Vasudevan
                    </th>
                    <td class="px-6 py-4">
                        IIT Madras
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        B.G. Fernandes
                    </th>
                    <td class="px-6 py-4">
                        IIT Bombay
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Vivek Agarwal
                    </th>
                    <td class="px-6 py-4">
                        IIT Bombay
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Pramod Agarwal
                    </th>
                    <td class="px-6 py-4">
                        IIT Roorkey
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        K Gopakumar
                    </th>
                    <td class="px-6 py-4">
                        IIT Roorkey
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Frede Blaabjerg
                    </th>
                    <td class="px-6 py-4">
                        -
                    </td>
                    <td class="px-6 py-4">
                        Aalborg, Denmark
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Prasad Enjeti
                    </th>
                    <td class="px-6 py-4">
                        Texas AMU
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Kamal Al Haddad
                    </th>
                    <td class="px-6 py-4">
                        University of Minnesota
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Ambrish Chandra
                    </th>
                    <td class="px-6 py-4">
                        University of Toronto
                    </td>
                    <td class="px-6 py-4">
                        Canada
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Ned Mohan
                    </th>
                    <td class="px-6 py-4">
                        University of Minnesota
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Joachim Holtz
                    </th>
                    <td class="px-6 py-4">
                        University of Wuppertal 
                    </td>
                    <td class="px-6 py-4">
                        Germany
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Jose Rodriguez
                    </th>
                    <td class="px-6 py-4">
                        Universidad San Sebastian
                    </td>
                    <td class="px-6 py-4">
                        Chile
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Chandan Chakraborty
                    </th>
                    <td class="px-6 py-4">
                        IIT Kharagpur
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Sanjib K Panda
                    </th>
                    <td class="px-6 py-4">
                        NUS
                    </td>
                    <td class="px-6 py-4">
                        Singapore
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Kouki Matsuse
                    </th>
                    <td class="px-6 py-4">
                        Meiji University
                    </td>
                    <td class="px-6 py-4">
                        Japan
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Praveen Jain
                    </th>
                    <td class="px-6 py-4">
                        Queen's University
                    </td>
                    <td class="px-6 py-4">
                        Canada
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Lalit Goel
                    </th>
                    <td class="px-6 py-4">
                        NTU 
                    </td>
                    <td class="px-6 py-4">
                        Singapore
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Kaushik Rajashekara
                    </th>
                    <td class="px-6 py-4">
                        University of Houston
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        J.J.Rodriguez-Andina
                    </th>
                    <td class="px-6 py-4">
                        University of Vigo
                    </td>
                    <td class="px-6 py-4">
                        Spain
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Milos Manic
                    </th>
                    <td class="px-6 py-4">
                        VCU
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Anurag Srivastava
                    </th>
                    <td class="px-6 py-4">
                        West Virginia University
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Yang Shi
                    </th>
                    <td class="px-6 py-4">
                        University of Victoria
                    </td>
                    <td class="px-6 py-4">
                        Canada
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Technical Program Chairs</p>
</div>

<div id="Technical Program Chairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        NAME
                    </th>
                    <th scope="col" class="px-6 py-3">
                        INSTITUTION
                    </th>
                    <th scope="col" class="px-6 py-3">
                        COUNTRY
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        A Ravichandranath
                    </th>
                    <td class="px-6 py-4">
                        IIT Guwahati
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Dinesh Kumar
                    </th>
                    <td class="px-6 py-4">
                        -
                    </td>
                    <td class="px-6 py-4">
                        Danfoss, Denmark
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Prajof P
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Suvendu Sumanta
                    </th>
                    <td class="px-6 py-4">
                        IIT Kanpur
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Krishna Vasudevan
                    </th>
                    <td class="px-6 py-4">
                        IIT Madras
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        B.G.Fernandes
                    </th>
                    <td class="px-6 py-4">
                        IIT Bombay
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Vivek Agarwal
                    </th>
                    <td class="px-6 py-4">
                        IIT Bombay
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Pramod Agarwal
                    </th>
                    <td class="px-6 py-4">
                        IIT Roorkee
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        K Gopakumar
                    </th>
                    <td class="px-6 py-4">
                        IISc Bangalore
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Frede Blaabjerg
                    </th>
                    <td class="px-6 py-4">
                        Aalborg
                    </td>
                    <td class="px-6 py-4">
                        Denmark
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Prasad Enjeti
                    </th>
                    <td class="px-6 py-4">
                        Texas AMU
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Kamal Al Haddad
                    </th>
                    <td class="px-6 py-4">
                        University of Quebec
                    </td>
                    <td class="px-6 py-4">
                        Canada
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Publication Chairs</p>
</div>

<div id="PublicationChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Jaison Matthew
                    </th>
                    <td class="px-6 py-4">
                        GEC Thrissur
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Md Waseem Ahmad
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        USA
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Finance Chairs</p>
</div>

<div id="FinanceChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        D N Gaonkar
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Tukaram Moger
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Tutorial Chairs</p>
</div>

<div id="tutorialChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Praveen Kumar
                    </th>
                    <td class="px-6 py-4">
                        IIT Guwahati
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Chandan Kumar
                    </th>
                    <td class="px-6 py-4">
                        IIT Guwahati
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Plenary Chairs</p>
</div>

<div id="tutorialChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Akshay Kumar Rathore
                    </th>
                    <td class="px-6 py-4">
                        SIT
                    </td>
                    <td class="px-6 py-4">
                        Singapore
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Pradyumn Chaturvedi
                    </th>
                    <td class="px-6 py-4">
                        VNIT Nagpur
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">conveners</p>
</div>

<div id="tutorialChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Dipti Saxena
                    </th>
                    <td class="px-6 py-4">
                        MNIT Jaipur
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Mohit T
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Dastagiri Reddy
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="margin: 20px; margin-left: 40px;">
    <p class="text-3xl text-gray-900 , text-left">Publicity Chairs</p>
</div>

<div id="PublicityChairs">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="display: flex;justify-content: center;align-items: center;width: 90vw;height: auto;margin: 0 auto;border: 0.5px solid #c2c0c0;">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Institution
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Country
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Yashwant Kashyap
                    </th>
                    <td class="px-6 py-4">
                        NITK
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Sabha Raj Arya
                    </th>
                    <td class="px-6 py-4">
                        SVNIT
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Anmol Ratna Saxena
                    </th>
                    <td class="px-6 py-4">
                        NIT Delhi
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
                <tr class="bg-white border-b ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                        Shailendra Kumar Jain
                    </th>
                    <td class="px-6 py-4">
                        MANIT
                    </td>
                    <td class="px-6 py-4">
                        India
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}