{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="py-8">
    <h1 class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Contact</h1>
</div>

<div class="w-3/4 mx-auto">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email Contact
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    PEDES Organisors
                </th>
                <td class="px-6 py-4">
                    <a href="mailto:pedes2024.nitk@gmail.com" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">pedes2024.nitk@gmail.com</a>
                </td>
            </tr>
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    R Kalpana
                </th>
                <td class="px-6 py-4">
                    <a href="mailto:kalpana@nitk.edu.in" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">kalpana@nitk.edu.in</a>
                </td>
            </tr>
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    P Parthiban
                </th>
                <td class="px-6 py-4">
                    <a href="mailto:parthiban@nitk.edu.in" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">parthiban@nitk.edu.in</a>
                </td>
            </tr>
            <tr class="bg-white border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    Brij N Singh
                </th>
                <td class="px-6 py-4">
                    <a href="mailto:singhbrijn@johndeere.com" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">singhbrijn@johndeere.com</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}