{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="w-3/4 mx-auto py-8 mt-8">
    <div class="bg-white p-8 rounded shadow-md  ">
        

        <div class="my-6 text-center">
            <h1 class="mb-16 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl">Contact Us</h1>
            <div class="flex justify-center">
                <div class="mr-6 text-center">
                    <p class="font-bold text-xl mb-2">R. Kalpana</p>
                    <p class="font-bold text-xl mb-2">Nitk, India</p>
                </div>
                <div class="text-center">
                    <p class="font-bold text-xl mb-2">P. Parthiban</p>
                    <p class="font-bold text-xl mb-2">Nitk, India</p>
                </div>
            </div>
            
        </div>
        <div class="text-center">
            <a href="mailto:pedes2024.nitk@gmail.com" class="text-blue-600 hover:underline font-bold text-xl">pedes2024.nitk@gmail.com</a>
        </div>
    </div>

</div>
{% endblock %}
