{% extends 'base.html' %}
{% load static %}
{% block title %}
    Event_Details
{% endblock %}

{% block content %}

    <div class="container mx-auto ">
        <section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-2 w-full">
            <div class="text-center">
                <h2 class="text-3xl lg:text-5xl font-extrabold mb-12 font-helvetica">IEEE PEDES 2024: Tentative Schedule of Events</h2>
            </div>

            <div class="max-w-screen-lg mx-auto px-2 overflow-x-auto w-full mb-8">
                <table class="table table-bordered w-full">
                    <!-- <div class="bg-blue-500 text-white text-center p-4 mb-4"> -->
                        <!-- <caption><b>Day 1, 18th December 2024, (Tutorial day), Venue:LHC-C,
                            <br>NITK 8:30 onwards registration starts
                        </b></caption> -->
                        <h3  class="mb-12 text-center text-2xl font-bold leading-none tracking-tight  md:text-3xl lg:text-3xl">Day 1, 18th December 2024, (Tutorial day), Venue:LHC-C, NITK
                            <br> 8:30 onwards registration starts </h3>
                    <!-- </div> -->
                    <thead>
                    <tr class="bg-blue-700 text-white py-2 pl-4 text-center">
                        <th class="text-xl font-semibold font-helvetica">Time</th>
                        <th class="text-xl font-semibold font-helvetica" colspan="2"> Event
                        </th>
 
                    </tr>
  
                    </thead>

                    <tbody>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">9:30 - 11:00
                        </td>
                        <td class="py-4 text-center font-bold">Tutorial 1 & Tutorial 2</td>
                        <td class="py-4 text-center font-bold">Women in Engineering,
                            <br>(WIE) PELS Session
                        </td>
                       
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:00 - 11:15
                        </td>
                        <td class="py-4 text-center font-bold">Tea Break</td>
                        
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:15 - 12:30
                        </td>
                        <td class="py-4 text-center font-bold">Tutorial 1 & Tutorial 2
                            <br>(Resumed)
                        </td>
                        <td class="py-4 text-center font-bold">Women in Engineering,
                            <br>(WIE) PELS Session
                        </td>
                     
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">12:30 - 13:30
                        </td>
                        <td class="py-4 text-center font-bold">Lunch Break</td>
                       
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">13:30 - 15:00
                        </td>
                        <td class="py-4 text-center font-bold">Tutorial 3, Tutorial 4 &
                            <br>Tutorial 5
                        </td>
                        <td class="py-4 text-center font-bold">Women in Engineering,
                            <br>(WIE) PELS Session
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:00 - 15:15
                        </td>
                        <td class="py-4 text-center font-bold">Tea Break</td>
                        
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:15 - 16:30
                        </td>
                        <td class="py-4 text-center font-bold">Tutorial 3, Tutorial 4 &
                            <br>Tutorial 5 (Resumed)
                        </td>
                        <td class="py-4 text-center font-bold">Women in Engineering,
                            <br>(WIE) PELS Session
                        </td>
                       
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">16:30 - 17:30
                        </td>
                        <td class="py-4 text-center font-bold">Industrial Talks</td>
                        
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">17:30 - 18:00
                        </td>
                        <td class="py-4 text-center font-bold">High Tea</td>
                        <td class="py-4 text-center font-bold">  </td>
                       
                    </tr>
 
                </table>

                </tbody>
                </table>
            </div>


            <div class="max-w-screen-lg mx-auto px-2 overflow-x-auto mt-4"></div>
                <table class="table table-bordered mx-auto" style="width: 80%;">
                    
                    <h3  class="mb-12 text-center text-2xl font-bold leading-none tracking-tight  md:text-3xl lg:text-3xl">Day 2, 19th December 2024, (Conference day 1), Venue:LHC-C, NITK
                        <br>8:30 onwards registration starts</h3>
                    <!-- <caption><b>Day 2, 19th December 2024, (Conference day 1), Venue:LHC-C, NITK
                        <br>8:30 onwards registration starts</b>
                    </caption> -->
                    <thead>
                    <tr class="bg-blue-700 text-white py-2 pl-4 text-center">
                        <th class="text-xl font-semibold font-helvetica">Time</th>
                        <th class="text-xl font-semibold font-helvetica" > Event
                        </th>
                   
                    </tr>
         
                    </thead>

                    <tbody>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">9:00 - 10:30
                        </td>
                        <td class="py-4 text-center font-bold">Technical sessions, TS 1-TS 8</td>
                      
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">10:30 - 11:00
                        </td>
                        <td class="py-4 text-center font-bold">Tea Break & Poster session PS 1</td>
                     
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:00 - 11:50
                        </td>
                        <td class="py-4 text-center font-bold">Inauguration
                        </td>
                       
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:50 - 12:30
                        </td>
                        <td class="py-4 text-center font-bold">Keynote 1</td>
                       
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">12:30 - 13:30
                        </td>
                        <td class="py-4 text-center font-bold">LunchBreak
                        </td>
                        
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">13:30 - 15:00
                        </td>
                        <td class="py-4 text-center font-bold">Keynote 2 & Keynote 3</td>
                        
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:00 - 15:30
                        </td>
                        <td class="py-4 text-center font-bold">Tea Break & Poster session PS 2
                        </td>
                       
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:30 - 17:30
                        </td>
                        <td class="py-4 text-center font-bold">Technical sessions, TS 9-TS 16</td>
                       
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">17:30 - 18:30
                        </td>
                        <td class="py-4 text-center font-bold">Student and Young Professional (SYP) <br>Programme
                            & High Tea
                        </td>
                        <td class="py-4 text-center font-bold">  </td>
                       
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">19:30 - 21:00
                        </td>
                        <td class="py-4 text-center font-bold">Welcome Dinner at NITK beach</td>

                    </tr>
                </table>

                </tbody>
                </table>
            </div>

            <div class="max-w-screen-lg mx-auto px-2 overflow-x-auto mb-8"></div>
            <table class="table table-bordered mx-auto" style="width: 55%;">
                <h3  class="mb-12 text-center text-2xl font-bold leading-none tracking-tight  md:text-3xl lg:text-3xl">Day 3, 20th December 2024, (Conference day 2), Venue:LHC-C, NITK
                    <br>8:30 onwards registration starts </h3>
                <!-- <caption><b>Day 3, 20th December 2024, (Conference day 2), Venue:LHC-C, NITK
                    <br>8:30 onwards registration starts</b>
                </caption> -->
                <thead>
                <tr class="bg-blue-700 text-white py-2 pl-4 text-center">
                    <th class="text-xl font-semibold font-helvetica">Time</th>
                    <th class="text-xl font-semibold font-helvetica" > Event
                    </th>

                </tr>

                </thead>

                <tbody>
                <tr class="bg-gray-100">
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">9:00 - 10:30
                    </td>
                    <td class="py-4 text-center font-bold">Technical sessions, TS 17-TS 24</td>

                </tr>
                <tr>
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">10:30 - 11:00
                    </td>
                    <td class="py-4 text-center font-bold">Tea Break & Poster session PS 3</td>

                </tr>
                <tr class="bg-gray-100">
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:00 - 12:30
                    </td>
                    <td class="py-4 text-center font-bold">Keynote 4 & Keynote 5
                    </td>

                </tr>
                <tr>
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">12:30 - 13:30
                    </td>
                    <td class="py-4 text-center font-bold">Lunch Break</td>

                </tr>
                <tr class="bg-gray-100">
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">13:30 - 15:00
                    </td>
                    <td class="py-4 text-center font-bold">Keynote 6 & Keynote 7
                    </td>

                </tr>
                <tr>
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:00 - 15:30
                    </td>
                    <td class="py-4 text-center font-bold">TeaBreak & Poster Session PS 4</td>

                </tr>
                <tr class="bg-gray-100">
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">15:30 - 17:30
                    </td>
                    <td class="py-4 text-center font-bold">Technical Sessions, TS 25-TS 32
                    </td>

                </tr>
                <tr>
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">17:30
                    </td>
                    <td class="py-4 text-center font-bold">Buses start to the Gala Dinner Venue</td>

                </tr>

                <tr>
                    <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">18:30 - 21:00
                    </td>
                    <td class="py-4 text-center font-bold">Gala Dinner with
                        <br> Cultural performance</td>

                </tr>
            </table>

            </tbody>
            </table>
        </div>

        <div class="max-w-screen-lg mx-auto px-2  overflow-x-auto mt-4"></div>
        <table class="table table-bordered mx-auto" style="width: 55%;">
            <h3  class="mb-12 text-center text-2xl font-bold leading-none tracking-tight  md:text-3xl lg:text-3xl">Day 4, 21st December 2024, (Conference day 3), Venue:LHC-C, NITK
                <br>8:30 onwards registration starts </h3>
            <!-- <caption><b>Day 4, 21st December 2024, (Conference day 3), Venue:LHC-C, NITK
                <br>8:30 onwards registration starts</b>
            </caption> -->
            <thead>
            <tr class="bg-blue-700 text-white py-2 pl-4 text-center">
                <th class="text-xl font-semibold font-helvetica">Time</th>
                <th class="text-xl font-semibold font-helvetica" > Event
                </th>

            </tr>

            </thead>

            <tbody>
            <tr class="bg-gray-100">
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">9:00 - 10:30
                </td>
                <td class="py-4 text-center font-bold">Technical sessions, TS 33-TS 40</td>
 
            </tr>
            <tr>
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">10:30 - 11:00
                </td>
                <td class="py-4 text-center font-bold">Tea Break & Poster session PS 5</td>
       
            </tr>
            <tr class="bg-gray-100">
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">11:00 - 12:00
                </td>
                <td class="py-4 text-center font-bold">Panel Discussion
                </td>

            </tr>
            <tr>
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">12:00 - 13:00
                </td>
                <td class="py-4 text-center font-bold">Students Travel Awards &
                    <br>Valedictory Ceremony
                </td>

            </tr>
            <tr class="bg-gray-100">
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">13:00 - 14:00
                </td>
                <td class="py-4 text-center font-bold">Lunch Break
                </td>
            </tr>
            <tr>
                <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">14:00 - 20:00
                </td>
                <td class="py-4 text-center font-bold">City Tour</td>

            </tr>

        </table>

        </tbody>
        </table>
    </div>
        </section>
    <section>
        <div class="panel mt-8">
            <div class="text-center">
                <h2 class="text-3xl lg:text-5xl font-extrabold mb-12 font-helvetica">IEEE PEDES 2024: Panel </h2>
            </div>
            <img class="h-auto rounded-lg mx-auto mb-8" src="{% static 'img/Panel.jpg' %}" alt="panel image">
        </div>
    </section>
        
    </div>

{% endblock %}