{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <style>
        .relative.h-56.md\:h-96 {

            @media (min-width: 768px) {
                .relative.h-56.md\:h-96 {
                    height: 80vh;
                }
            }

            @media (min-width: 1024px) {
                .relative.h-56.md\:h-96 {
                    height: 90vh;
                }
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .logo_l {
            width: 200px;
            height: 200px;
        }

        .logo_r {
            width: 150px;
            height: 150px;
        }

        @media (max-width: 1024px) {
            .logo_l {
                width: 100px;
                /* Set your desired width for smaller screens */
                height: 100px;
                /* Set your desired height for smaller screens */
                margin-left: 5;
            }

            .logo_r {
                width: 75px;
                /* Set your desired width for smaller screens */
                height: 75px;
                /* Set your desired height for smaller screens */
                margin-right: 5;
            }
            
        }
        @-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: sticky;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #FFFBEB;
  border-top-width: 4px; /* border-t-4 */
  border-bottom-width: 4px; /* border-b-4 */
  border-left-width: 1px; /* default border width for left and right if not specified */
  border-right-width: 1px; /* default border width for left and right if not specified */
  border-style: solid; /* ensure the border is solid */
  border-radius: 8px;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.ticker_item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: #b91c1c;
}


    </style>

    <!-- <section>
            <div id="alert-additional-content-1"
            class="p-4 text-red-700 bg-yellow-50 border border-red-200 border-t-4 border-b-4 rounded-lg shadow-md"
            role="alert">
            <div class="flex items-center animate__fadeInUp animate__faster">  <svg class="flex-shrink-0 w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M8.5 2a1.5 1.5 0 0 0-3 0v18a1.5 1.5 0 0 0 3 1.5h3a1.5 1.5 0 0 0 3-1.5V2zm4.5 4.5h-3a.5.5 0 0 0 0 1h3V9a.5.5 0 0 0-1 0V7.5h-3a.5.5 0 0 0 0-1h3V5a.5.5 0 0 0-1 0v1.5z" clip-rule="evenodd" />
            </svg>  <a href="important_dates" class=" h3 text-lg font-medium text-red-900">Last Date for Submission of Digest: 15th June 2024 (Final Deadline)</a>
            </div>
            </div>
   </section> -->
   <section>
    <div class="ticker-wrap">
        <div class="ticker">
           <div class="ticker_item flex flex-row items-center">
            <a href="important_dates">
                Submission of Final Manuscript and Copyright Form:-   Site opens: 1 September 2024,    Submission deadline: 30 September 2024
            </a>
        </div>
        </div>
    </div>
   </section>

    <section class="bg-white">
        
        <div id="default-carousel" class="relative w-full h-400" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden  md:h-96" style="height: 80vh; position: relative;">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/4_reduced.jpg' %}" style="width:100% ;height:100%" alt="...">
                    <!-- Text overlay -->
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>


                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/1_reduced.jpg' %}" class="absolute block w-full h-full object-cover"
                         alt="...">
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>
                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/10_reduced.jpg' %}" class="absolute block w-full h-full object-cover"
                         alt="...">
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>
                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/main_building_reduced.jpg' %}"
                         class="absolute block w-full h-full object-cover" alt="...">
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>
                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/DJI_0012_reduced.jpg' %}" class="absolute block w-full h-full object-cover"
                         alt="...">
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>
                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>
                <!-- Item 6 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{% static 'img/NITK - Vistas-28_reduced.jpg' %}"
                         class="absolute block w-full h-full object-cover"
                         alt="...">
                    <div class="absolute inset-0 flex flex-col justify-center items-center text-center text-white">
                        <!-- <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            2024 IEEE International Conference on Power Electronics, Drives and Energy Systems
                        </h1>
                        <h1 class="text-xl md:text-3xl xl:text-4xl font-extrabold mb-2"
                            style="font-family: Helvetica, Arial, sans-serif;">
                            PEDES-2024
                        </h1>
                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">

                            18 - 21 December, 2024
                        </p>

                        <p class="text-sm md:text-lg lg:text-xl font-bold mb-2 flex items-center">
                            National Institute of Technology Karnataka, Surathkal
                        </p> -->
                    </div>
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                        data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                        data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                        data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                        data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                        data-carousel-slide-to="4"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6"
                        data-carousel-slide-to="5"></button>
            </div>
            <!-- Slider controls -->
            <!-- text-over -->

            <div class="absolute inset-x-0 top-1/4 flex flex-col items-center justify-center z-30 bg-black bg-opacity-40 p-4">
                <h1 class="text-2xl md:text-4xl xl:text-5xl font-extrabold mb-4 text-white text-center">
                    2024 IEEE International Conference on Power Electronics
                </h1>

                <h1 class="text-2xl md:text-4xl xl:text-5xl font-extrabold mb-2 text-white">
                    Drives and Energy Systems
                </h1>
                <h1 class="text-2xl md:text-4xl   xl:text-5xl font-extrabold mb-4 text-white">
                    PEDES 2024
                </h1>

                <p class="text-lg md:text-xl lg:text-2xl font-bold mb-4 text-white">
                    18 - 21 December 2024
                </p>

                <p class="text-lg md:text-xl lg:text-2xl font-bold mb-12 text-white">
                    National Institute of Technology Karnataka, Surathkal, India
                </p>

                <a href="{% static 'pdf/Brochure.pdf' %}" target="_blank" class="bg-blue-500 text-white py-2 px-4 rounded">Brochure</a>
            </div>

            <button type="button"
                    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
			<span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
				<svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 6 10">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1 1 5l4 4"/>
				</svg>
				<span class="sr-only">Previous</span>
			</span>
            </button>
            <button type="button"
                    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
			<span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
				<svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 6 10">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 9 4-4-4-4"/>
				</svg>
				<span class="sr-only">Next</span>
			</span>
            </button>
        </div>
        </div>
    </section>

    <section class="bg-gray-1 ">
        <div class="py-8 lg:py-2 mx-auto max-w-screen-xl px-4 mt-8">
            <h2
                    class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-blue-700 md:text-4xl font-helvetica">
                Society Sponsors
            </h2>
            <div class="flex flex-wrap justify-between">
                <div class="w-1/2 sm:w-1/4 md:w-1/3 lg:w-1/6 p-4">
                    <a href="https://ias.ieee.org/" target="_blank"
                       style="display: flex; justify-content: center; align-items: center;">
                        <img src="{% static 'img/ias.svg' %}" alt="IAS Logo">
                    </a>
                </div>
                <div class="w-1/2 sm:w-1/4 md:w-1/3 lg:w-1/6 p-4">
                    <a href="https://ieee-pes.org/" target="_blank"
                       style="display: flex; justify-content: center; align-items: center;">
                        <img src="{% static 'img/pes.svg' %}" alt="PES Logo">
                    </a>
                </div>
                <div class="w-1/2 sm:w-1/4 md:w-1/3 lg:w-1/6 p-4 h-2">
                    <a href="https://www.ieee-pels.org/" target="_blank"
                       style="display: flex; justify-content: center; align-items: center;">
                        <img class="w-auto h-20 sm:h-8 md:h-28 lg:h-28" src="{% static 'img/pels.svg' %}"
                             alt="PELS Logo">
                    </a>
                </div>
                <div class="w-1/2 sm:w-1/4 md:w-1/3 lg:w-1/6 p-4">
                    <a href="https://www.ieee-ies.org/" target="_blank"
                       style="display: flex; justify-content: center; align-items: center;">
                        <img class="w-auto h-20 sm:h-8 md:h-28 lg:h-28" src="{% static 'img/ies.svg' %}" alt="IES Logo">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container mx-auto py-8 lg:py-16 px-4 text-justify">
            <h3 class="text-4xl font-extrabold font-helvetica text-blue-700">About PEDES</h3>
            <p class="my-6 text-xl text-gray-700 font-helvetica">
			<span class="font-extrabold my-3">
				IEEE Power Electronics, Drives and Energy Systems (PEDES)
			</span>
                <br/>
                IEEE PEDES 2024 will be held at National Institute of Technology Karnataka
                (NITK) Surathkal, Mangaluru from 18th -21st December 2024. IEEE PEDES is a
                biennial conference sponsored by IEEE Industry Applications Society and
                technically co-sponsored by IEEE Power Electronics Society, Industrial
                Electronics Society, and Power & Energy Society. The goal of PEDES is to
                provide a platform for conference, exhibition and tutorial on selected
                topics of contemporary interest. The conference provides a unique forum
                for the exchange of knowledge and information among the professionals
                across the globe in the area of power electronics, drives and energy
                system subjects which have greater significance owing to the emphasis on
                energy affected by the climate change. The conference aims at bringing
                together the users and researchers of electrical energy conversion systems
                and sub-systems with the emphasis on technical content of the papers.
            </p>
      
          <div class="flex justify-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KzrYT1cjWSk?si=uHbjWAB3E5DpA3O-" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      
            <h3 class="text-4xl font-extrabold font-helvetica text-blue-700">About NITK</h3>
            <p class="my-6 text-xl text-gray-700 font-helvetica">
			<span class="my-3 font-extrabold">
				National Institute of Technology Karnataka, Surathkal
			</span>
                is a premier Institution engaged in imparting quality technological
                education and providing support to research and development activities.
                NITK is recognized as an institute of national importance by an act of
                parliament. NITK has carved a niche for itself among the best technical
                institutes in India. NITK offers 9 UG, 26 PG programs and PhD programs.
                <br/><br>
                <span class="my-3 font-extrabold block">
				Department of Electrical & Electronics Engineering
			</span>
                The Department of Electrical and Electronics Engineering strives to be a
                center of excellence in education, training and research, producing high
                quality engineers and researchers. In this endeavour, the department will
                continually develop knowledge and quality of staff, upgrade and create new
                laboratory facilities, revise the teaching program, acquire adequate new
                equipment to keep abreast, contribute and progress in the emerging
                technologies and committed for rendering the best service to the society.
                The faculty of the department has been involved in several research
                projects in cutting edge technologies and publications in many
                international journals and conferences. The department also undertakes
                many consultancy projects from industry and other organisations.
            </p>
        </div>
    </section>

    <section class="bg-white">
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
            <h2
                    class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-blue-700 md:text-4xl font-helvetica">
                Tracks
            </h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 w-full">
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT1:</span><br>
                  <span class="font-bold text-lg">Power Converters</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT2:</span><br>
                  <span class="font-bold text-lg">Power Devices, Passive Components, EMI/EMC and Packaging</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT3:</span><br>
                  <span class="font-bold text-lg">Electrical Machines and Industrial Drives</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT4:</span><br>
                  <span class="font-bold text-lg">Transportation</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT5:</span><br>
                  <span class="font-bold text-lg"> Control and Automation</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT6:</span><br>
                  <span class="font-bold text-lg">Renewable Energy Systems and Energy Storage</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT7:</span><br>
                  <span class="font-bold text-lg">Smart Grids & Power Quality</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT8:</span><br>
                  <span class="font-bold text-lg">Power Engineering Educations and Issues</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT9:</span><br>
                  <span class="font-bold text-lg">Applications of AI and ML Techniques to Power Electronics</span>
                </div>
                <div class="p-4 text-sm rounded-lg bg-white text-gray-900 shadow-md">
                  <span class="font-medium">TT10:</span><br>
                  <span class="font-bold text-lg">Power Supplies for Datacentres, Telecom & Autonomous Systems</span>
                </div>
              </div>
              
        </div>
    </section>

    <section>
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
            <h2 class="text-4xl font-extrabold text-center mb-8 text-blue-700">Timeline</h2>

            <ol class="relative border-l border-gray-200">
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">15<sup>th</sup>
                        February
                        2024
                    </time>
                    <h3 class="text-base font-normal text-gray-900 font-helvetica">Opening date of Submission of
                        Digest</h3>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <s><time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">31<sup>st</sup> May 2024 
                    </time></s>
                    <br>
                    <s><time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">15<sup>th</sup> June 2024 
                    </time></s>
                    <br>
                    <s><time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">30<sup>th</sup> June 2024 
                    </time></s>
                    
                    <br>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">8<sup>th</sup> July
                        2024
                    </time>
                    <br>
                    
                    <h3 class="text-base font-normal text-gray-900 font-helvetica">Closing  Deadline for Submission of
                        Digest</h3>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <s>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">15<sup>th</sup> August
                        2024
                    </time>
                    </s>
                    <br>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">20<sup>th</sup> August
                        2024
                    </time>
                    <h3 class="text-base font-normal text-gray-900 font-helvetica">Acceptance Notification of
                        Digest</h3>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">30<sup>th</sup>
                        September
                        2024
                    </time>
                    <h3 class="text-base font-normal text-gray-900 font-helvetica">Submission of Final Manuscript and
                        Copyright Form</h3>
                </li>
                <li class="ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white"></div>
                    <time class="mb-1 text-lg font-bold leading-none text-gray-900 font-helvetica">18<sup>th</sup> -
                        21<sup>st</sup> December 2024
                    </time>
                    <h3 class="text-base font-normal text-gray-900 font-helvetica">Conference Dates</h3>
                </li>
            </ol>
        </div>
    </section>
    <section class="flex items-center justify-center py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <a href="call_for_papers" button type="button" class="px-5 py-3 text-base font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit digest
        </a>
    </section>
    <section>
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 prose max-w-none">
            <h1 id="countdown" class="text-center text-4xl"></h1>
            <!-- <p class="text-small text-center font-bold text-blue-700 text-2xl">TIME TO CONFERENCE</p> -->
            <div class="flex flex-row content-around justify-center">
                <div class="border flex p-5 mx-1 flex-col justify-center content-center">
                    <h1 id="countdown-day" class="text-center"></h1>
                    <p class="text-center font-sm">Days</p>
                </div>
                <div class="border flex p-5 mx-1 flex-col justify-center content-center">
                    <h1 id="countdown-hour" class="text-center"></h1>
                    <p class="text-center font-sm">Hours</p>
                </div>
                <div class="border flex p-5 mx-1 flex-col justify-center content-center">
                    <h1 id="countdown-min" class="text-center"></h1>
                    <p class="text-center font-sm">Minutes</p>
                </div>
                <div class="border flex p-5 mx-1 flex-col justify-center content-center">
                    <h1 id="countdown-sec" class="text-center"></h1>
                    <p class="text-center font-sm">Seconds</p>
                </div>
            </div>
        </div>
    </section>

    <script>
        function pad(number) {
            return (number < 10 ? '0' : '') + number;
        }

        function updateCountdown() {
            const currentDate = new Date();
            const targetDate = new Date("December 18, 2024 10:00:00"); // Set your target date and time

            const timeDifference = targetDate - currentDate;

            if (timeDifference > 0) {
                const seconds = Math.floor((timeDifference / 1000) % 60);
                const minutes = Math.floor((timeDifference / 1000 / 60) % 60);
                const hours = Math.floor((timeDifference / 1000 / 60 / 60) % 24);
                const days = Math.floor(timeDifference / 1000 / 60 / 60 / 24);

                document.getElementById("countdown-day").innerHTML = pad(days);
                document.getElementById("countdown-hour").innerHTML = pad(hours);
                document.getElementById("countdown-min").innerHTML = pad(minutes);
                document.getElementById("countdown-sec").innerHTML = pad(seconds);
            } else {
                document.getElementById('countdown').innerHTML = 'Conference Started!';
            }
        }

        // Update every second
        setInterval(updateCountdown, 1000);

        // Initial call to display the countdown
        updateCountdown();
    </script>


{% endblock %}