{% extends 'base.html' %}

{% block title %}
Call for Papers
{% endblock %}

{% block content %}

<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <div class="text-center">
        <h2 class="text-3xl font-extrabold mb-12 font-helvetica">IEEE PEDES 2024 Conference</h2>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 font-helvetica text-justify">
        <p><strong>IEEE PEDES 2024</strong> invites researchers, practitioners, and students worldwide to submit previously unpublished original papers for consideration to be presented at the conference. All submissions will be peer-reviewed.</p>
    </ul>
    
    
    <div class="text-center">
        <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">
            <strong>Template paper submission:</strong> <a href="#" class="text-primary"><strong>Link(To be updated)</strong></a>
        </p>        
        <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">Please note that the submission site does not send automatic emails of acknowledgment. Authors may use the button named "Email" which will be available towards the end of the submission process near the top right side corner of the screen to send a confirmation email to all authors.</p>
        <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">Manuscripts must be written in English.</p>
        <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">The maximum number of pages including figures and references allowed in PDF format is <strong>four (4)</strong>. Total file size of the digest must not exceed <strong>2 MB</strong>. Up to two (2) extra pages are permissible, with an additional fee to be paid at the time of registration.</p>
    </div>

    <div class="text-center">
        <h3 class="text-3xl font-bold mb-4 mt-4 font-helvetica">Important Notes:</h3>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 ml-4 font-helvetica text-justify">
        <li>All manuscripts submitted to <strong>PEDES 2024</strong> will go through a plagiarism check. Digests with a similarity score of 30% or above are liable to be rejected without further review.</li>
        <li>The acceptance of the paper does not necessarily imply acceptance of the final camera-ready paper in the conference proceedings or in IEEEXplore. The submitted camera-ready paper will be checked for further compliance by the conference publication committee.</li>
        <li>Online presentation will be permitted for foreign authors.</li>
    </ul>

    <div class="text-center">
        <h3 class="text-3xl font-bold mb-4 mt-4 font-helvetica">Reasons for Rejection:</h3>
    </div>

    <ul class="list-disc text-xl text-gray-700 mb-4 ml-4 font-helvetica text-justify">
        <li>Poor language</li>
        <li>Poor technical content</li>
        <li>Not addressing reviewer's remarks</li>
        <li>High similarity index</li>
        <li>Deviations from IEEE conference template</li>
    </ul>

    <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">We hope <strong>PEDES 2024</strong> will be one of the remarkable and unforgettable events for you.</p>
    <p class="text-xl font-helvetica text-gray-700 mb-4 text-justify">Submission Link: <a href="#" class="text-primary">Link(To be updated)</a></p>
</section>



{% endblock %}