{% extends 'base.html' %}
{% block title %}
    Registration
{% endblock %}

{% block content %}

    <div class="container mx-auto ">
        <section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-2 w-full">
            <div class="text-center">
                <h2 class="text-3xl lg:text-5xl font-extrabold mb-12 font-helvetica">REGISTRATION FEE DETAILS</h2>
            </div>

            <div class="max-w-screen-lg mx-auto px-2 overflow-x-auto w-full">
                <table class="table table-bordered w-full">
                    <thead>
                    <tr class="bg-blue-700 text-white py-2 pl-4 text-center">
                        <th class="text-xl font-semibold font-helvetica">Category</th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold" colspan="2">EARLY BIRD
                            RATES<br>
                            [Up to October 15, 2024]
                        </th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold" colspan="2">STANDARD RATES<br>
                            [After October 15, 2024]
                        </th>
                    </tr>
                    <tr class="bg-blue-400">
                        <th class="text-xl font-semibold font-helvetica"></th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold">IEEE Member</th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold">Non-IEEE Member</th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold">IEEE Member</th>
                        <th class="text-xl font-semibold font-helvetica font-weight-bold">Non-IEEE Member</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Indian Author <br>(Academia/Industry)
                        </td>
                        <td class="py-4 text-center font-bold">₹ 10000</td>
                        <td class="py-4 text-center font-bold">₹ 12000</td>
                        <td class="py-4 text-center font-bold">₹ 12000</td>
                        <td class="py-4 text-center font-bold">₹ 14000</td>
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Indian Student
                            Attendee <br> (Non-Author)
                        </td>
                        <td class="py-4 text-center font-bold">₹ 5000</td>
                        <td class="py-4 text-center font-bold">₹ 6000</td>
                        <td class="py-4 text-center font-bold">₹ 6000</td>
                        <td class="py-4 text-center font-bold">₹ 7000</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Indian
                            Professional Attendee
                            <br> (Non-Author)
                        </td>
                        <td class="py-4 text-center font-bold">₹ 7000</td>
                        <td class="py-4 text-center font-bold">₹ 8000</td>
                        <td class="py-4 text-center font-bold">₹ 8000</td>
                        <td class="py-4 text-center font-bold">₹ 9000</td>
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Indian Author
                            Attendee<br>
                            (Additional page)
                        </td>
                        <td class="py-4 text-center font-bold">₹ 500 / page</td>
                        <td class="py-4 text-center font-bold">₹ 500 / page</td>
                        <td class="py-4 text-center font-bold">₹ 500 / page</td>
                        <td class="py-4 text-center font-bold">₹ 500 / page</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Tutorial only<br>
                            (Indian Student)
                        </td>
                        <td class="py-4 text-center font-bold">₹ 500</td>
                        <td class="py-4 text-center font-bold">₹ 700</td>
                        <td class="py-4 text-center font-bold">₹ 700</td>
                        <td class="py-4 text-center font-bold">₹ 1000</td>
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Foreign
                            Author<br>(Academia /
                            Industry)
                        </td>
                        <td class="py-4 text-center font-bold">$ 350</td>
                        <td class="py-4 text-center font-bold">$ 400</td>
                        <td class="py-4 text-center font-bold">$ 400</td>
                        <td class="py-4 text-center font-bold">$ 450</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Foreign Student
                            Attendee <br> (Non-Author)
                        </td>
                        <td class="py-4 text-center font-bold">$ 200</td>
                        <td class="py-4 text-center font-bold">$ 225</td>
                        <td class="py-4 text-center font-bold">$ 225</td>
                        <td class="py-4 text-center font-bold">$ 250</td>
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Foreign
                            Professional Attendee
                            <br>(Non-Author)
                        </td>
                        <td class="py-4 text-center font-bold">$ 250</td>
                        <td class="py-4 text-center font-bold">$ 300</td>
                        <td class="py-4 text-center font-bold">$ 300</td>
                        <td class="py-4 text-center font-bold">$ 350</td>
                    </tr>
                    <tr class="bg-gray-100">
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Foreign Author
                            Attendee <br>
                            (Additional page)
                        </td>
                        <td class="py-4 text-center font-bold">$ 25 / page</td>
                        <td class="py-4 text-center font-bold">$ 25 / page</td>
                        <td class="py-4 text-center font-bold">$ 25 / page</td>
                        <td class="py-4 text-center font-bold">$ 25 / page</td>
                    </tr>
                    <tr>
                        <td class="py-4 text-xl font-semibold font-helvetica font-weight-bold text-center">Tutorial only<br>
                            (Foreign
                            Student)
                        </td>
                        <td class="py-4 text-center font-bold">$ 25</td>
                        <td class="py-4 text-center font-bold">$ 35</td>
                        <td class="py-4 text-center font-bold">$ 35</td>
                        <td class="py-4 text-center font-bold">$ 50</td>
                    </tr>
                </table>

                </tbody>
                </table>
            </div>
        </section>

        <section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
            <div class="text-center">
                <h2 class="text-3xl lg:text-5xl font-extrabold mb-4 mr-2 ml-2 font-helvetica">
                    REGISTRATION INSTRUCTIONS
                </h2>
            </div>

            <div class="max-w-screen-lg mx-auto px-4">
                <div class="mb-4 font-helvetica text-xl text-gray-700 text-justify">
                    <ul class="list-disc text-xl text-gray-700 mb-4 mr-2 ml-2 font-helvetica text-justify">
                        <li>One full author registration (Indian author or Foreign author) is required for the inclusion of the paper(s) in the conference programme and IEEE proceedings.</li>
                        <li>One full author registration can register up to 2 papers.</li>
                        <li>Student registration is not entitled to IEEE Xplore paper publication.</li>
                        <li>Author / Non-Author/Students are entitled for Tutorials.</li>
                        <li>GST 18% and 4.72% payment gateway charges are excluded.</li>
                        <li>Spot Registration for attending Tutorials is also available with Double the Standard Rates.</li>
                    </ul>
                    
                    <p class="mb-4 font-helvetica text-xl text-gray-700 mr-2 ml-2 text-justify">
                        <strong>Full Author Registration & Attendees:</strong> Includes access to tutorials, keynote  sessions, all the conference sessions, conference registration kit, lunch (for 3 days), High Tea, and Gala dinner.
                    </p>
                    
                    <p class="mb-4 font-helvetica text-xl text-gray-700 mr-2 ml-2 text-justify">Please register using
                        the button below:</p>
                    <div class="flex items-center justify-center"> <!-- Added flex classes -->
                    <a href="{% url 'reg_portal' %}">
                        <button type="button" class="text-md px-3 py-1 rounded-full border border-blue-500">
                            Will be updated
                        </button>
                    </a>                        
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}