{% extends 'base.html' %}
{% load static %}

{% block title %}
    Speakers
{% endblock %}

{% block content %}
    <div class="text-center mx-auto my-10">
        <h1 class="text-6xl font-extrabold font-arial">Keynote Speakers</h1>
    </div>

    <div class="flex flex-col items-center justify-center text-xl font-arial">
        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Iqbal Husain (Fellow, IEEE)</h1>
            <h2 class="text-2xl font-semibold text-center">ABB Distinguished Professor, NC State University</h2>
            <h2 class="text-2xl font-semibold text-center">Director, FREEDM System Center, NCSU Raleigh, USA</h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/Iqbal-Husain_keynote.jpg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center text-xl font-arial">
                    <p>
                        <span class="text-bold">Iqbal Husain (Fellow, IEEE)</span> received his Ph.D. in electrical
                        engineering from Texas A&M
                        University in 1993. He currently serves as the Director of the FREEDM NSF Engineering Center and
                        holds the prestigious position of ABB Distinguished Professor in the ECE Department at NC State
                        University, Raleigh, NC, USA. Prior to joining NC State, he was associated with the University
                        of Akron, Akron, OH, USA. He has been recognized for his academic contributions as a Fulbright
                        Scholar in several Australian institutions in 2022 and as a Visiting Professor with Oregon State
                        University, Corvallis, OR, USA, in 2001. Prof. Husain's research interests encompass power
                        electronic system integration into the power grid and transportation electrification with wide
                        bandgap power electronic devices and permanent magnet & reluctance machine drives. He has
                        developed graduate and undergraduate courses on electric and hybrid vehicles and authored the
                        textbook "Electric and Hybrid Vehicles: Design Fundamentals." He has been honored with numerous
                        awards, including the 2023 Outstanding Engagement Award and the 2022 Alcoa Distinguished
                        Engineering Research Award at NC State, the 2022 IEEE-IAS Outstanding Achievement Award, the
                        2006 SAE Vincent Bendix Automotive Electronics Engineering award, the 2004 College of
                        Engineering Outstanding Researcher award, the 2000 IEEE Third Millennium Medal, and the 1998
                        IEEE-IAS Outstanding Young Member award. He became an IEEE Fellow in 2009 and served as the
                        Editor-in-Chief of the IEEE Electrification Magazine.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Emil Levi (Fellow, IEEE)</h1>
            <h2 class="text-2xl font-semibold text-center">Liverpool John Moores University, UK</h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                    <p>
                        <span class="text-bold">Emil Levi (Fellow, IEEE)</span> received the M.Sc. and Ph.D. degrees in
                        electrical engineering from the
                        University of Belgrade, Belgrade, Yugoslavia, in 1986 and 1990, respectively. He joined
                        Liverpool John Moores University, U.K., in May 1992 and has been a Professor of Electric
                        Machines and Drives since September 2000. He served as a Co-Editor-in-Chief of the IEEE
                        Transactions on Industrial Electronics from 2009 to 2013. Currently, Dr. Levi holds the
                        positions of Editor-in-Chief of the IEEE Transactions on Industrial Electronics and
                        Editor-in-Chief of the IET Electric Power Applications. Dr. Levi has received several
                        prestigious awards, including the Cyril Veinott Award of the IEEE Power and Energy Society for
                        2009 and the Best Paper Award of the IEEE Transactions on Industrial Electronics for 2008. He
                        was honored with the “Outstanding Achievement Award” from the European Power Electronics
                        Association in 2014 and the “Professor Istvan Nagy Award” from the Power Electronics and Motion
                        Control Council in 2018. He is also a Foreign Member of the Serbian Academy of Engineering.
                    </p>
                </div>
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/EmilLevi_keynote.jpg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
            </div>
        </div>

        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Milos Manic (Fellow, IEEE)</h1>
            <h2 class="text-2xl font-semibold text-center">
                President of the IEEE Industrial Electronics Society (IES)
            </h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/Milos_Manic.jpeg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                    <p>
                        <span class="text-bold">Milos Manic</span> is currently the President of the IEEE Industrial
                        Electronics Society
                        (IES) and a professor with the Computer Science Department at Virginia Commonwealth University
                        and is the director of the VCU Cybersecurity Center. He is also a Commonwealth Cyber Initiative
                        Fellow, inaugural class 2020-2022. As a principal investigator or university partner, he has
                        completed more than 40 research grants with the departments of Energy, Homeland Security, Air
                        Force, Battelle Energy Alliance/Idaho National Laboratory, National Science Foundation, and
                        industry entities, in the area of data mining and machine learning applied to cybersecurity,
                        critical infrastructure protection, energy security, and resilient intelligent control. Manic
                        has given over 40 invited talks around the world, authored more than 200 refereed articles in
                        international journals, books, and conferences, holds several U.S. patents and won the 2018 R&D
                        100 Award for Autonomic Intelligent Cyber Sensor (AICS), one of top 100 science and technology
                        worldwide innovations in 2018. He is also an inductee of U.S. National Academy of Inventors
                        (class of 2019). He is an IEEE Fellow, recipient of IEEE IES 2019 Anthony J. Hornfeck Service
                        Award. He also received the 2012 J. David Irwin Early Career Award and 2017 IEM Best Paper
                        Award. He served as associate editor of Trans. on Industrial Electronics, was a founding chair
                        of IEEE IES Technical Committee on Resilience and Security in Industry, and a general chair of
                        IEEE IECON 2018, IEEE HSI 2019.
                    </p>
                </div>
            </div>
        </div>

        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Gourab Majumdar (Senior Fellow, IEEE)</h1>
            <h2 class="text-2xl font-semibold text-center">Mitsubishi Electric Corporation, Japan</h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                    <p>
                        <span class="font-bold">Gourab Majumdar</span> received Bachelor of Technology degree in
                        electrical engineering from Indian
                        Institute of Technology (IIT), Delhi, India in 1977 and Doctor of Engineering degree from Kyushu
                        Institute of Technology (KIT), Japan in 2005. He came to Japan in September 1978, and has been
                        living in the country since then. He started his job career at Mitsubishi Electric Corporation,
                        Japan (Mitsubishi Electric) on a special OJT program in September 1978. He was employed by the
                        same company in 1980 and, since 1983, has worked in its units responsible for advanced power
                        semiconductor development, designing and application. From April-2012 to March-2017, he served
                        as Executive Fellow, Semiconductor & Device Group of Mitsubishi Electric. On April-2017, he was
                        reemployed by Mitsubishi Electric on a contract basis and acted as Senior Fellow (Technology)
                        for Semiconductor & Device Group of the same company until March-2021. From April-2022 until
                        currently, he has been working as Senior Fellow for Power Device Works of Mitsubishi Electric.
                        He has published and co-authored many technical papers and books on power semiconductor devices
                        and holds several patents in the related fields. He is a recipient of the prestigious National
                        Invention Award in Japan in 2005 for invention of the fundamental concept of IPM (Intelligent
                        Power Module) and has also received several other prestigiouscawards, including the “Monozukuri
                        Nihon Taishou” (Japan Craftsmanship Grand Prix) award from the Ministry of Economy, Trade and
                        Industry in 2013 for contribution in development and commercialization of various versions of
                        IPM devices. He served as the General Chairman of ISPSD 2013 and has been participating as a
                        member of PCIM's Advisory Board and ISPSD's Advisory Committee. He received IEEE-ISPSD
                        Contributory Award in 2017 for playing an active role in the field of Intelligent Power Module
                        and Power IC technologies and contributing largely to the ISPSD. He was nominated to be one of
                        the first 32 inductees to IEEE-ISPSD Hall of Fame for his pioneering global role in progressing
                        IGBT and IPM technologies and was awarded the prestige in May 2018. He was promoted to IEEE
                        Fellow in 2021. He lectured courses on advanced power semiconductor devices as a visiting
                        professor at Kyushu University and Tokyo Institute of Technology (TIT) for several years till
                        2019. Also, he has been bestowed with Honorary Professorship in 2016 by Amity University, India.
                    </p>
                </div>
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/Gourab_Majumdar.jpeg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
            </div>
        </div>
        
        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Frede Blaabjerg (Fellow, IEEE)</h1>
            <h2 class="text-2xl font-semibold text-center">
                Department of Energy Technology Aalborg University, Denmark
            </h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/blaabjerg1.jpeg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                    <p>
                        <span class="text-bold">Frede Blaabjerg</span> was with ABB-Scandia, Randers, Denmark, from 1987 to 1988. 
                        From 1988 to 1992, he obtained the PhD degree in Electrical Engineering at Aalborg University in 1995. 
                        He became an Assistant Professor in 1992, an Associate Professor in 1996, and a Full Professor of power 
                        electronics and drives in 1998. From 2017, he became a Villum Investigator. He is honoris causa at 
                        University Politehnica Timisoara (UPT), Romania, and Tallinn Technical University (TTU) in Estonia.
                        His current research interests include power electronics and its applications such as in wind turbines, 
                        PV systems, reliability, harmonics, and adjustable speed drives. He has published more than 600 journal 
                        papers in the fields of power electronics and its applications. He is the co-author of four monographs 
                        and the editor of ten books in power electronics and its applications. He has received 32 IEEE Prize Paper 
                        Awards, the IEEE PELS Distinguished Service Award in 2009, the EPE-PEMC Council Award in 2010, the IEEE 
                        William E. Newell Power Electronics Award 2014, the Villum Kann Rasmussen Research Award 2014, the Global 
                        Energy Prize in 2019, and the 2020 IEEE Edison Medal. He was the Editor-in-Chief of the IEEE Transactions 
                        on Power Electronics from 2006 to 2012. He has been a Distinguished Lecturer for the IEEE Power Electronics 
                        Society from 2005 to 2007 and for the IEEE Industry Applications Society from 2010 to 2011, as well as 2017 
                        to 2018. In 2019-2020, he served as President of IEEE Power Electronics Society. He is Vice-President of 
                        the Danish Academy of Technical Sciences too. He was nominated in 2014-2019 by Thomson Reuters to be among 
                        the most 250 cited researchers in Engineering in the world.
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">
              Dr. Tapan Sahoo ( Fellow, INAE)
            </h1>
            <h2 class="text-2xl font-semibold text-center">
              Executive Director (Engineering) at Maruti Suzuki India Limited
            </h2>
        
            <div class="flex flex-col lg:flex-row mx-20 my-5">
              <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                <p>
                  <span class="font-bold">Dr. Tapan Sahoo</span> is the Head of Digital
                  Enterprise and has served as the Executive Director (Engineering) at
                  Maruti Suzuki India Limited and has over 32 years of experience in
                  product design & development, supplier development, technology, cost
                  and program management functions. An Eminent Alumnus and graduate in
                  Electrical Engineering from UCE – Burla, Dr. Sahoo continued his
                  academic pursuit along with his professional work and completed his
                  MBA and Ph.D. from Department of Management Studies, IIT Delhi. Dr.
                  Sahoo has played a key role in upgrading the R&D capability of MSIL in
                  the Electrical & Electronics, xEV, Powertrain, Vehicle Engineering,
                  Cost, Prototype, Design and Planning functions. He played an
                  instrumental role in developing the design capability of auto
                  component suppliers in India as well. Dr Sahoo participates and
                  contributes in various Industry, Academia, Professional and Government
                  bodies. Some of the key roles are: Co-Chairman, Technical Council of
                  SIAM (Society of Indian Automobile Manufacturers) encompassing
                  Electric Mobility, Sustainable Mobility, Connected vehicles, Styling &
                  Design, Frontier Technology & Innovation, Manufacturing & Industry
                  4.0. Past Chairman, International Harmonization Group of SIAM –
                  engaged in understanding, alignment, and adaptability of international
                  regulations for India Past Chairman, Frontier Technology Group of
                  SIAM; the group engaged in policy formulation for Hybrid and Electric
                  vehicles in India along with Govt of India. Chairman, India GRE group,
                  Ministry of Road Transport and Highways (Govt. of India) Chairman,
                  SAEINDIA Northern Section, a non-profit society of automotive
                  engineers, aiming to promote the cause of mobility Member, CII
                  National Committee on Future Mobility • Member, Board of Academics,
                  MNNIT (Allahabad) Member, OICA-GEE Panel (International Auto
                  Manufacturer’s Association – Lighting & Light Signaling Group) Dr
                  Sahoo holds multiple granted patents. His research papers in the areas
                  of strategic technology management, xEV technologies and automotive
                  product development & policy matters have been published in national
                  and international journals of repute. For his contribution in the
                  field of engineering and technology management, Dr. Sahoo has been
                  conferred “Fellow” status by Society for Technology Management and
                  Indian National Academy of Engineering
                </p>
              </div>
              <div class="basis-1/2 m-2 flex items-center justify-center">
                <img
                  src="{% static 'img/tapan.jpeg' %}"
                  class="h-auto max-w-sm border border-2"
                />
              </div>
            </div>
        </div>
          
        <div class="w-full px-5 py-5">
            <h1 class="text-4xl font-bold text-center">Dr. Ram Adapa</h1>
            <h2 class="text-2xl font-semibold text-center">
                Technical Executive, HVDC & Power Electronics, EPRI, Palo Alto, CA, USA
            </h2>

            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/ram_adapa.jpg' %}"
                            class="h-auto max-w-sm border border-2"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center">
                    <p>
                        <span class="text-bold">Dr. Ram Adapa</span> is a Technical Executive in the Energy Delivery and Customer Solutions at EPRI. His research activities focus on High Voltage Direct Current (HVDC) transmission, Flexible AC Transmission Systems (FACTS), Custom Power, and Fault Current Limiters.   
Dr. Adapa joined EPRI in 1989 as a Project Manager in the Power System Planning and Operations program. Later he became Product Line Leader for Transmission, Substations, and Grid Operations where he developed the research portfolio and business execution plans for the Grid Operations and Planning areas. Some of the tools in this portfolio included market restructuring, transmission pricing, ancillary services, and security tools to maintain the reliability of the grid.
Before joining EPRI, Dr. Adapa worked at McGraw-Edison Power Systems (presently known as Eaton’s Cooper Power Systems) as a Staff Engineer in the Systems Engineering Department.  
Dr. Adapa received a BS degree in electrical engineering from Jawaharlal Nehru Technological University, India, an MS degree in electrical engineering from the Indian Institute of Technology, Kanpur, India, and a PhD in electrical engineering from the University of Waterloo, Ontario, Canada. 
Dr. Adapa is an IEEE Fellow and has been honored several times by IEEE for his outstanding contributions to the profession. He received the 2016 IEEE PES Nari Hingorani Custom Power Award and the 2023 IEEE PES Uno Lamm HVDC Award. He has authored or coauthored more than 130 technical papers and is an IEEE Distinguished Lecturer. He is an individual member of CIGRE and a Registered Professional Engineer.  
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}