{% extends 'base.html' %}
{%block title%}
Student Travel Award
{%endblock%}

{%block content%}
<div class="my-8 text-center">
    <div class="container mx-auto">
      <div class="text-center mb-12 px-4 mr-2 ml-2">
        <h1 class="mb-12 text-center text-4xl font-bold leading-none tracking-tight  md:text-5xl lg:text-5xl">
            Student Travel Award
        </h1>
        <p class="text-justify text-lg md:text-xl lg:text-2xl font-serif leading-relaxed text-gray-700 mt-8">
          We are excited to announce the Student Travel Awards for IEEE PEDES 2024, to be held on 18-21 December 2024 at the National Institute of Technology Karnataka (NITK) Surathkal.
          <br><br>
          <strong>Professor Som Nath Mahendra Memorial Student Travel Awards</strong><br>
          These student travel awards will be given to up to 5 recipients in memory of the late Prof. Som Nath Mahendra from IIT (BHU), Varanasi, India. The award consists of a certificate and 10,000 INR to cover registration and travel expenses.
          <br><br>
          <strong>Prof. Subhashish Nandi Memorial Student Travel Awards</strong><br>
          These student travel awards will be given to up to 5 recipients in memory of the late Prof. Subhashish Nandi from the University of Victoria, BC, Canada. The award consists of a certificate and 10,000 INR to cover registration and travel expenses.
          <br><br>
          <strong>North East India Student Travel Awards</strong><br>
          These student travel awards will be given to up to 10 recipients enrolled full-time at the engineering institutes/Universities in north-east India. The award consists of a certificate and 30,000 INR to cover registration and travel expenses.
          <br><br>
          More information will be available in July 2024.
        </p>
      </div>
    </div>
  </div>
  

{%endblock%}