{% extends 'base.html' %}

{% block title %}
Tracks
{% endblock %}
<div class="flex-grow flex justify-center items-center">
{% block content %}
<section class="bg-gray-900">
    <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <h2
            class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-white md:text-4xl">
            Tracks
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 w-full">
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT1:</span>
                Power Electronics Components and Devices  
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT2:</span>
                Industrial Drives and EMI
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT3:</span>
                Transportation 
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT4:</span>
                Control and Automation 
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT5:</span>
                Renewable Energy Systems and Energy Storage 
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT6:</span>
                Smart Grids & Power Quality
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT7:</span>
                Power Engineering Educations and Issues
            </div>
            <div class="p-4 text-sm rounded-lg bg-gray-800 text-gray-300">
                <span class="font-medium">TT8:</span>
                Big Data Analytics and ML Applications in Power Electronics
            </div>

        </div>
    </div>
</section>
{% endblock %}
</div>