{% extends 'base.html' %}

{% block title %}
Tracks
{% endblock %} 

{% block content %}
<div class="flex-grow flex justify-center items-center">
  <section class="py-16 px-4 text-center flex-grow flex-col justify-between">
    <div class="max-w-screen-xl mx-auto">
      <h2 class="text-4xl font-extrabold mb-8">Tracks</h2>

      <ul class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 1</h3>
          <p class="text-xl font-bold mb-4">
            Power Converters, Devices, EMI/EMC 
             and Packaging

          </p>
        </li>

        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 2</h3>
          <p class="text-xl font-bold mb-4">Electrical Machines and Industrial 
            Drives</p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 3</h3>
          <p class="text-xl font-bold mb-4">Transportation</p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 4</h3>
          <p class="text-xl font-bold mb-4">Control and Automation</p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 5</h3>
          <p class="text-xl font-bold mb-4">
            Renewable Energy Systems and Energy Storage
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 6</h3>
          <p class="text-xl font-bold mb-4">Smart Grids & Power Quality</p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 7</h3>
          <p class="text-xl font-bold mb-4">
            Power Engineering Educations and Issues
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 8</h3>
          <p class="text-xl font-bold mb-4">
            Applications of AI and ML Techniques to
            Power Electronics
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}