{% extends 'base.html' %}

{% block title %}
Tracks
{% endblock %} 

{% block content %}
<div class="flex-grow flex justify-center items-center">
  <section class="py-16 px-4 text-center flex-grow flex-col justify-between">
    <div class="max-w-screen-xl mx-auto">
      <h2 class="text-4xl font-extrabold mb-8">Tracks</h2>

      <ul class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 1</h3>
          <p class="text-xl font-bold mb-4">
            Power Converters, Devices, EMI/EMC 
             and Packaging
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                AC/AC, AC/DC, DC/AC and DC/DC Converter, Modelling and Control.
              </li>
              <li>
                Power Device Modelling and Device Drivers, Packaging of Devices, Systems
                and Thermal Issues. Magnetic Materials and Component Design, Passive
                Filter Design.
              </li>
            </ul>
          </p>
        </li>

        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 2</h3>
          <p class="text-xl font-bold mb-4">Electrical Machines and Industrial 
            Drives
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Converters, Operation and Control.
              </li>
              <li>
                CM and EMC issues in Power electronic System Design and Packaging Methods of Analysis and Filters.
              </li>
              <li>
                Modeling Analysis and Design of Rotating and Linear Machines.
              </li>
              <li>
                Electromagnetic Devices.
              </li>
            </ul>
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 3</h3>
          <p class="text-xl font-bold mb-4">Transportation
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Power electronics and Motor Control for EV Applications. Charging Methods
                and Standards
              </li>
              <li>
                Wireless Charging, 02V and V20 Applications
              </li>
              <li>
                Aircraft and Space Applications
              </li>
              <li>
                Railway Traction Applications
              </li>
              <li>
                Intelligent Transportation System
              </li>
          </ul>
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 4</h3>
          <p class="text-xl font-bold mb-4">Control and Automation
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Linear and Nonlinear Control, Intelligent Control, Predictive Control, Networked Control System and Instrumentation.
              </li>
              <li>
                Industrial Automation, Internet of Things and Embedded Systems.
              </li>
          </ul>
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 5</h3>
          <p class="text-xl font-bold mb-4">
            Renewable Energy Systems and Energy Storage
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Distributed Power Generation, Control and Grid Interaction.
              </li>
              <li>
                Role and Operation in Grids and Microgrids, Charging and Discharging Battery Management Systems, Battery Engineering, Battery uses and Recycling.
              </li>
          </ul>
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 6</h3>
          <p class="text-xl font-bold mb-4">Smart Grids & Power Quality
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Modeling Control and Integration of Multiple Energy Sources. Economics of
                Smart Grids and Microgrids.
              </li>
              <li>
                Quantification and Estimation of Disturbances in Transmission and Distribution Networks. Converters and Control for Improving Power Quality.
              </li>
              <li>
                Reactive and Active Power Controls, FACTS Devices.
              </li>
          </ul>
          
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 7</h3>
          <p class="text-xl font-bold mb-4">
            Power Engineering Educations and Issues
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
                Teaching Concepts in Power Engineering and Laboratory Innovations.
              </li>
              <li>
                Policies for Distributed Generation.
              </li>
              <li>
                Smart Grids and Operation with Increased Renewable Penetration. 
              </li>
          </ul>
          </p>
        </li>
        <li class="bg-white p-8 rounded-lg shadow-lg text-gray-800">
          <h3 class="text-2xl font-bold mb-4 text-indigo-600">Track 8</h3>
          <p class="text-xl font-bold mb-4 ">
            Applications of AI and ML Techniques to
            Power Electronics
            <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 text-justify">
              <li>
               To Be Updated
              </li>
            </ul>
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}