{% extends 'base.html' %}
{% load static %}

{% block title %}
Application for Travel Awards
{% endblock %}

{% block content %}
<section class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4 sm:px-6 md:px-8 font-helvetica leading-relaxed">
    <div class="text-center">
        <h2 class="text-2xl sm:text-3xl font-extrabold mb-4">STUDENT TRAVEL AWARD SUBMISSION INSTRUCTIONS</h2>
    </div>

    <ul class="list-disc text-base sm:text-lg md:text-xl text-gray-700 mb-4 ml-4 sm:ml-6 md:ml-8 mr-4 sm:mr-6 md:mr-8 text-justify">
        <li class="mb-4">The students are required to submit ONE PDF that includes the following, in order:</li>
        <ol class="list-decimal text-sm sm:text-base md:text-xl text-gray-600 ml-6 sm:ml-8 md:ml-10 mb-4">
            <li>Cover Letter mentioning the need for the travel support.</li>
            <li>Letter on the institute/college/university letterhead endorsed by the head of the Department/Dean/Supervisor with stamp endorsing your student status.</li>
            <li>CV (2-page max).</li>
            <li>PDF(s) of the final paper(s).</li>
        </ol>
        
        <li class="mb-4">The document should be submitted to: 
            <a href="mailto:akshay.k.rathore@ieee.org" class="text-blue-600 font-semibold hover:underline">
                akshay.k.rathore@ieee.org
            </a> 
            & 
            <a href="mailto:kalpana.nitk.edu.in" class="text-blue-600 font-semibold hover:underline">
                kalpana.nitk.edu.in
            </a> 
            (in CC) with the subject line ‘IEEE PEDES 2024 Student Travel Award’.
        </li>
        <li class="mb-4">All the applicants will be considered for the ‘Professor Som Nath Mahendra Memorial Student Travel Awards’, ‘Professor Subhasis Nandi Memorial Student Travel Awards’, ‘Professor PC Sen Memorial Student Travel Awards’ and ‘Professor Ned Mohan Memorial Student Travel Awards’.</li>
        <li class="mb-4">Students enrolled in North-East India institutes will also be considered for the ‘North-East India Student Travel Awards’ as well as for the above-mentioned awards.</li>
        <li class="mb-4"><strong>Deadline for submission:</strong> 04 October 2024.</li>
        <li class="mb-4"><strong>Notification of recipients:</strong> 15 October 2024.</li>
        <li class="mb-4"><strong>Award presentation:</strong> 21 December 2024, during the “Valedictory and Awards ceremony”.</li>
        <li>The student must attend in-person and present the paper in-person to qualify for receiving the award.</li>
    </ul>
</section>






{% endblock %}
