{% extends 'base.html' %}

{% load static %}

{% block title %}
    Tutorial
{% endblock %}

{% block content %}
    <div class="text-center mx-auto my-10">
        <h1 class="text-6xl font-extrabold font-arial">Tutorial Speakers</h1>
    </div>

    <div class="flex flex-col items-center justify-center text-xl font-arial">
        <div class="w-full px-5 py-5">
            <h2 class="text-2xl font-semibold text-center">
                Advanced Galvanically Isolated DC-DC Converters:
                <br/>
                Topologies, Control and Applications
            </h2>
            <h3 class="text-xl text-center">
                 Akshay Kumar Rathore, Andrii Chub
            </h3>
        </div>
        <div class="flex flex-col lg:flex-row-reverse mx-20 my-5">
            <div class="basis-1/2 m-2 flex items-center justify-center">
                <img
                        src="{% static 'img/Andrii_Chub.jpg' %}"
                        class="h-auto max-w-sm border border-2" style="width: 250px; height: 250px;"
                />
            </div>
            <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                <p>
                    <span class="font-bold">Andrii Chub (Senior Member, IEEE)</span> received the B.Sc. and M.Sc.
                    degrees in electronic systems from
                    the Chernihiv State Technological University, Ukraine, in 2008 and 2009, respectively, and the Ph.D.
                    degree in electrical engineering from the Tallinn University of Technology, Estonia, in 2016.
                    He is currently a Senior Researcher with the Power Electronics Group, Department of Electrical Power
                    Engineering and Mechatronics, Tallinn University of Technology. He was a Visiting Research Fellow
                    with Kiel University in 2017 and a Postdoctoral Researcher with Federico Santa Maria Technical
                    University between 2018 and 2019.
                    He has co-authored over 180 papers and several book chapters on power electronics and applications
                    and holds several patents and utility models. His research interests include advanced dc-dc
                    converter topologies, renewable energy conversion systems, energy-efficient buildings, reliability,
                    and fault-tolerance of power electronic converters. Dr. Chub is the Chair of the Estonian
                    IES/PELS/IAS/PES Joint Chapter, and an Associate Editor for the IEEE Journal of Emerging and
                    Selected Topics in Industrial Electronics.
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center text-xl font-arial mt-10">
            <div class="w-full px-5 py-5">
                <h2 class="text-2xl font-semibold text-center">
                    Model Predictive Control in Power Electronics: 
                    <br/>
                    Basic concepts, Applications, Advances and Trends
                </h2>
                <h3 class="text-xl text-center">
                    Jose Rodriguez, Cristian Garcia, Mokhtar Aly,Margarita Norambuena,Fernanda de Morais Carnielutti
                </h3>
            </div>
            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/jose_pic.png' %}"
                            class="h-auto max-w-sm border border-2"style="width: 250px; height: 250px;"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                    <p>
                        <span class="font-bold">Jose Rodriguez  (Fellow, IEEE)</span> Life Fellow Member, IEEE) received the Engineer 
                        degree in electrical engineering from the Universidad 
                        Tecnica Federico Santa Maria, in Valparaiso, Chile, in 1977 and the Dr.-Ing. degree in electrical engineering 
                        from the University of Erlangen, Erlangen, Germany, in 1985. He has been with the Department of Electronics Engineering,
                        Universidad Tecnica Federico Santa Maria, since 1977, where he was full Professor and President. Since 2015 he was t
                        he President and since 2019 he is full professor at Universidad Andres Bello in Santiago, Chile. He has coauthored two 
                        books, several book chapters and more than 900 journal and conference papers. His main research interests include
                        multilevel inverters, new converter topologies, control of power converters, and adjustable-speed drives. He has 
                        received a number of best paper awards from journals of the IEEE. Dr. Rodriguez is member of the Chilean Academy 
                        of Engineering. In 2014 he received the National Award of Applied Sciences and Technology from the government of Chile. 
                        In 2015 he received the Eugene Mittelmann Award from the Industrial Electronics Society of the IEEE. In years 2014 to 
                        2023 he has been included in the list of Highly Cited Researchers published by Web of Science.
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row-reverse mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img src="{% static 'img/christian_pic.jpg' %}" class="h-auto max-w-sm border border-2" style="width: 250px; height: 250px;" />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                    <p>
                        <span class="font-bold">Cristian Garcia (Senior Member, IEEE)</span> received the M.Sc. and Ph.D. degrees in electronics 
                        engineering from the Universidad Tecnica Federico Santa Maria, Valparaiso, Chile, in 2013 and 2017, respectively. 
                        From 2017 to 2019, he was with the Engineering Faculty of the Universidad Andres Bello, Santiago, Chile, as an Assistant 
                        Professor. Since 2019, he has been with the Department of Electrical Engineering of the University of Talca, Curico, Chile,
                        where he is currently an Assistant Professor. During 2016 he was a visiting Ph.D. student in the Power Electronics Machines
                        and Control (PEMC) Group at the University of Nottingham, U.K. 
                        
                </div>
            </div>
            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/Mokthar_pic.png' %}"
                            class="h-auto max-w-sm border border-2"style="width: 250px; height: 250px;"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                    <p>
                        <span class="font-bold">Mokhtar Aly (Senior Member, IEEE)</span> received the B.Sc. and M.Sc. degrees in 
                        electrical engineering from Aswan University, Aswan, Egypt, in 2007, and 2012 respectively and the Ph.D. 
                        degree from the Department of Electrical Engineering, Faculty of Information Science and Electrical Engineering,
                        Kyushu University, Japan in 2017. In 2008, he joined the Department of Electrical Engineering, Aswan University,
                        as an Assistant Lecturer, where he has been an Assistant Professor with the Faculty of Engineering, since 2017. 
                        He worked as a Postdoctoral Researcher with the Solar Energy Research Center (SERC-Chile), Universidad Técnica 
                        Federico Santa María, Chile from March 2019 to June 2021. He is a member in IEEE Power Electronics Society (PELS), 
                        IEEE Industrial Electronics Society (IES), and IEEE Power and Energy Society (PES).
                    </p>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row-reverse mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/margarita_pic.jpg' %}"
                            class="h-auto max-w-sm border border-2"style="width: 250px; height: 250px;"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                    <p>
                        <span class="font-bold">Margarita Norambuena (Senior Member, IEEE)</span> received the B.S. and M. Sc. degrees in electrical engineering
                        from the Universidad Tecnica Federico Santa Maria (UTFSM), Valparaiso, Chile, in 2013. She received her Ph.D. degree (summa cum laude)
                        in electronics engineering from the UTFSM in 2017. She received the Doktoringenieur (Dr-Ing.) degree (summa cum laude) from the 
                        Technische Universitat Berlin (TUB) in 2018. She received the IEEE IES Student Best Paper Award 2019 for her doctoral work. Currently, 
                        she is an Assistant Professor at Universidad Tecnica Federico Santa Maria. Dr. Norambuena serves as an Associate Editor for IEEE JESTPE.
                </div>
            </div>
            <div class="flex flex-col lg:flex-row mx-20 my-5">
                <div class="basis-1/2 m-2 flex items-center justify-center">
                    <img
                            src="{% static 'img/fernanda_pic.jpg' %}"
                            class="h-auto max-w-sm border border-2"style="width: 250px; height: 250px;"
                    />
                </div>
                <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                    <p>
                        <span class="font-bold">Fernanda de Morais Carnielutti (Member, IEEE)</span> received the bachelor's degree in electrical engineering in 2010 
                        from the Federal University of Santa Maria (UFSM), Santa Maria, Brazil, where she received the master's and doctoral degrees in electrical 
                        engineering in 2012 and 2015, respectively. From 2016 to 2018, she was a Professor with the Federal University of Santa Maria, 
                        campus Cachoeira do Sul. She is currently a Professor with the Federal University of Santa Maria, campus Santa Maria and a Researcher 
                        with the Power Electronics and Control Research Group (GEPOC), UFSM. Dr. Carnielutti is a member of the IEEE Power Electronics Society, 
                        IEEE Industrial Electronics Society, and IEEE Industry Applications Society.
                    </p>
                </div>
            </div>
    </div>

    <div class="flex flex-col items-center justify-center text-xl font-arial">
        <div class="w-full px-5 py-5">
            <h2 class="text-2xl font-semibold text-center">
                Hydrogen and Fuel Cell Systems for Transportation / Electrolysis and Grid Integration
            </h2>
            <h3 class="text-xl text-center">
                Kaushik Rajashekara, Prasad Enjeti and Kaushik Basu
            </h3>
        </div>
        <div class="flex flex-col lg:flex-row-reverse mx-20 my-5">
            <div class="basis-1/2 m-2 flex items-center justify-center">
                <img
                        src="{% static 'img/koushik_rajashekara.jpg' %}"
                        class="h-auto max-w-sm border border-2" style="width: 250px; height: 250px;"
                />
            </div>
            <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                <p>
                    <span class="font-bold">Kaushik Rajashekara( IEEE Fellow )</span>
                    is presently a Distinguished Professor in the Dept. of Electrical & Computer Engineering, University of Houston. 
                    Prior to this, he was a Distinguished Professor in University of Texas at Dallas, Chief Technologist in Rolls-Royce Corporation, 
                    and Chief Scientist in Delphi, a division of General Motors. In General Motors, he worked on developing propulsion and power electronics 
                    systems for electric, hybrid, and fuel cell vehicle systems. In Rolls-Royce Corporation, his focus was on electric systems for electric 
                    and hybrid aircraft systems. He has authored/coauthored over 300 papers in international journals and conferences, has 37 US and 15 foreign patents,
                     and has written one book. He has given over 200 invited presentations in international conferences and universities.
                       He has received a number of awards including the 2022 Global Energy Prize and 2021 IEEE Medal on Environment & Safety Technologies. 
                       He was elected as a Member of the US National Academy of Engineering in 2012, Fellow of the National Academy of Inventors in 2015, 
                       a Fellow of Indian National Academy of Engineering in 2013, a Member of the Chinese Academy of Engineering in 2021. 
                       His research interests include power/energy conversion, transportation electrification, renewable energy, microgrid systems, 
                       and Subsea electrification.
                </p>
            </div>
            
            
            
        </div>
        <div class="flex flex-col lg:flex-row mx-20 my-5">
            <div class="basis-1/2 m-2 flex items-center justify-center">
                <img
                        src="{% static 'img/prasad.jpeg' %}"
                        class="h-auto max-w-sm border border-2" style="width: 250px; height: 250px;"
                />
            </div>
            <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                <p>
                    <span class="font-bold">Dr. Prasad Enjeti( IEEE Fellow )</span>
                    Dr. Enjeti’s primary research interests are: Advance power electronic converters for utility interface of solar-pv/wind/fuel-cell/battery-energy 
                    storage power systems; design of high temperature power conversion systems with wide band-gap semiconductor devices; new converter topologies for 
                    single/three phase solid state transformers (SSTs) with medium frequency isolation; medium voltage power converters for mega-watt scale 
                    solar-pv/wind/fuel-cell energy systems, adjustable speed drives with medium frequency transformer isolation; development of smart solar 
                    pv-systems for curved surfaces / BIPVs; power quality enhancement for interconnected renewables; power quality issues: design & development 
                    of active power filters; dynamic voltage restorer’s (DVRs) and new & improved ride-through technologies employing flywheel and supercapacitors; 
                    advancing switching power supply designs for portable power systems and modular fuel-cell systems. 
                    He is a Fellow of IEEE (year 2000) for "Contributions to solutions of utility interface problems in power electronic systems and harmonic mitigation”. 
                    He is the inaugural recipient of the R. David Middlebrook Technical Achievement Award from the IEEE Power Electronics Society, 2012.In addition to his 
                    regular graduate and undergraduate teaching load, he along with his students and colleagues has taught 25 different technical short courses, has published 
                    well over 100 conference papers, 86 journal papers, and seven book chapters. His research emphasis on industry-based issues has attracted significant funding. 
                    So far, 26 PhD and 41 MS students have graduated under his supervision and have spring-boarded into key leadership positions He is the lead developer of the Power 
                    Electronics / Power Quality & Fuel Cell Power Conditioning Laboratories at Texas A&M University and is actively involved in many projects with industries while engaged 
                    in teaching, research and consulting in the area of power electronics.
                </p>
            </div>
        </div>
    </div>  
    <div class="flex flex-col items-center justify-center text-xl font-arial mt-10">
        <div class="w-full px-5 py-5">
            <h2 class="text-2xl font-semibold text-center">
                Electric vehicle charging infrastructure 
                <br/>
                state-of-the-art and future outlook
            </h2>
            <h3 class="text-xl text-center">
                Samir Kouro
            </h3>
        </div>
        <div class="flex flex-col lg:flex-row mx-20 my-5">
            <div class="basis-1/2 m-2 flex items-center justify-center">
                <img src="{% static 'img/samir_kouro.jpeg' %}" class="h-auto max-w-sm border border-2" style="width: 250px; height: 250px;" />
            </div>
            <div class="basis-1/2 m-2 text-justify flex items-center justify-center font-arial">
                <p>
                    <span class="font-bold">Dr. Samir Kouro (Senior Member, IEEE)</span> is the Deputy Director of the Advanced 
                    Center of Electrical and Electronics Engineering (AC3E). Dr. Kouro is a recognized researcher and 
                    innovator with 4 IEEE career awards for contributions made in the field of power electronics and 
                    renewable energy 4 IEEE journal best papers awards and member of The Clarivate Analytics Highly 
                    Cited Researcher List of 2018. He also has served as technical adviser in several energy related 
                    public policy councils and boards for the Chilean Government. Dr. Kouro has published over 250 
                    journal and conference papers 2 books 12 book chapters 7 patents and co-founded one Spin-off company. 
                    His research interests include Power Electronics applied to energy transition technologies such as 
                    photovoltaic energy, wind energy, electromobility, and green hydrogen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}