<footer class="bg-white rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <div>
            <span class="text-sm text-gray-500 sm:text-center">
              &copy; 2023-2024
              <a href="https://pedes2024.org/" class="hover:underline">PEDES</a>. All
              Rights Reserved.
            </span>
            <br/>
            <span class="text-gray-500 text-sm font-bold">
                {{ view_count }} unique viewers
            </span>
        </div>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
            <li>
                <a href="{% url 'about' %}" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
