{% load static %}

<nav class="bg-white border-b-2 border-gray-200">
    <div class="flex flex-wrap items-center justify-between mx-auto py-2 px-2 border">
        <div class="flex flex-row">
            <a href="{% url 'home' %}" class="mx-3">
                <object data="{% static 'img/pedes_logo_text.svg' %}" type="image/svg+xml" class="h-14 md:h-20 mx-1"
                        alt="PEDES Logo"></object>
            </a>
        </div>
        <div class="flex flex-row">
            <a href="https://www.nitk.ac.in/" target="_blank" class="mx-3">
                <img src="{% static 'img/nitk.svg' %}" class="h-12 md:h-20 mx-1" alt="NITK">
            </a>
            <a href="https://www.ieee.org/" target="_blank" class="mx-3">
                <img src="{% static 'img/ieee.svg' %}" class="h-10 md:h-16 mx-1" alt="IEEE">
            </a>
        </div>
    </div>
    <div class="flex flex-wrap items-center justify-between mx-auto py-4 px-2 bg-blue-700">
        <div class="flex flex-row md:hidden">
            <button data-collapse-toggle="navbar-dropdown" type="button"
                    class="z-index btn inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-white"
                    aria-controls="navbar-dropdown" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
        </div>
        <div class="hidden w-full  md:block" id="navbar-dropdown">
            <ul class="flex flex-col md:flex-row justify-around font-small p-4 md:p-0 border border-gray-100 rounded-lg border-0 md:bg-blue-700">
                <li class="flex items-center">
                    <a href="{% url 'home' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-700 md:p-0 md:border-0 text-center"
                       aria-current="page">Home</a>
                </li>
                <li class="flex items-center">
                    <a href="{% url 'about' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">About
                        us</a>
                </li>
                <li class="flex items-center">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="forauthorsdropdownNavbar"
                            class="flex items-center justify-between w-full py-2 my-1 md:py-0 my-2 md:my-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 md:w-auto"
                            style="position: relative; z-index: 20;">
                        <span class="flex-1 text-center">For Authors</span>
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="forauthorsdropdownNavbar"
                         class="z-40 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
                         style="position: absolute; top: 100%; left: 0;">
                        <ul class="py-2 text-sm text-gray-700"
                            aria-labelledby="dropdownLargeButton">
                            <li>
                                <a href="{% url 'important_dates' %}"
                                   class="block px-4 py-2 hover:bg-gray-100">Important
                                    Dates</a>
                            </li>
                            <li>
                                <a href="{% url 'tracks' %}"
                                   class="block px-4 py-2 hover:bg-gray-100">Technical
                                    Tracks</a>
                            </li>
                            <li>
                                <a href="{% url 'call_for_papers' %}"
                                   class="block px-4 py-2 hover:bg-gray-100">Call
                                    for Papers</a>
                            </li>
                        </ul>
                        <div class="py-1">
                            <a href="{% url 'paper_submission' %}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Paper
                                Submission</a>
                                <a href="{% url 'camera_paper' %}"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Camera 
                                 Ready Paper Submission</a>
                        </div>
                    </div>
                </li>
                <li class="flex items-center">
                    <a href="{% url 'committee' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Committee</a>
                </li>
                <li class="flex items-center">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="speakersdropdownNavbar"
                            class="flex items-center justify-between w-full py-2 my-1 md:py-0 my-2 md:my-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 md:w-auto"
                            style="position: relative; z-index: 20;">
                        <span class="flex-1 text-center">Speakers</span>
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="speakersdropdownNavbar"
                         class="z-40 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
                         style="position: absolute; top: 100%; left: 0;">
                        <ul class="py-2 text-sm text-gray-700"
                            aria-labelledby="dropdownLargeButton">
                            <li>
                                <a href="{% url 'speakers' %}" class="block px-4 py-2 hover:bg-gray-100">Keynote
                                    Speakers</a>
                            </li>
                            <li>
                                <a href="{% url 'tutorial' %}" class="block px-4 py-2 hover:bg-gray-100">Tutorial
                                    Speakers</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="flex items-center">
                    <a href="{% url 'event_details' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Event
                        Details</a>
                </li>
                <li class="flex items-center">
                    <a href="{% url 'registration' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Registration</a>
                </li>
                <li class="flex items-center">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="StudentTraveldropdownNavbar"
                            class="flex items-center justify-between w-full py-2 my-1 md:py-0 my-2 md:my-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 md:w-auto"
                            style="position: relative; z-index: 20;">
                        <span class="flex-1 text-center">Student Travel Awards</span>
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="StudentTraveldropdownNavbar"
                    class="z-40 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-52"
                    style="position: absolute; top: 100%; left: 0;">
                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
                        <li>
                            <a href="{% url 'student_travel_award' %}" class="block px-4 py-2 hover:bg-gray-100 text-gray-800 font-semibold">
                                Travel Awards
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'travel_apply' %}" class="flex items-center justify-between block px-4 py-2 hover:bg-gray-100">
                                <span class="font-semibold text-gray-800">Instructions for Student Travel Award</span>
                            </a>
                        </li>
                    </ul>
                </div>

                </li>
                
                <li class="flex items-center">
                    <a href="{% url 'sponsor_index' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Sponsorship</a>
                </li>
                <li class="flex items-center">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="AccomdationTraveldropdownNavbar"
                            class="flex items-center justify-between w-full py-2 my-1 md:py-0 my-2 md:my-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 md:w-auto"
                            style="position: relative; z-index: 20;">
                        <span class="flex-1 text-center">Travel/Accomodation</span>
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="AccomdationTraveldropdownNavbar"
                    class="z-40 hidden font-helvatica bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-52"
                    style="position: absolute; top: 100%; left: 0;">
                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
                        <li>
                            <a href="{% url 'travel_moe' %}" class="block px-4 py-2 hover:bg-gray-100 text-gray-800 font-semibold">
                                Travel 
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'accomodation' %}" class="flex items-center justify-between block px-4 py-2 hover:bg-gray-100">
                                <span class="font-semibold text-gray-800">Accomodation</span>
                            </a>
                        </li>
                    </ul>
                </div>

                </li>
                <!-- <li class="flex items-center">
                    <a href="{% url 'accomodation' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Accomodation</a>
                </li> -->
                <li class="flex items-center">
                    <a href="{% url 'contact' %}"
                       class="block w-full py-2 my-1 md:py-0 md:text-white md:text-1xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 text-center">Contact</a>
                </li>
            </ul>
        </div>
    </div>

<!-- {% block announcements %}
    {% if announcements %}
            {% for announcement in announcements %}
                    <div id="alert-additional-content-1"
                    class="p-4 text-red-700 bg-yellow-50 border border-red-200 border-t-4 border-b-4 rounded-lg shadow-md"
                    role="alert">
                <div class="flex items-center animate__fadeInUp animate__faster">  <svg class="flex-shrink-0 w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M8.5 2a1.5 1.5 0 0 0-3 0v18a1.5 1.5 0 0 0 3 1.5h3a1.5 1.5 0 0 0 3-1.5V2zm4.5 4.5h-3a.5.5 0 0 0 0 1h3V9a.5.5 0 0 0-1 0V7.5h-3a.5.5 0 0 0 0-1h3V5a.5.5 0 0 0-1 0v1.5z" clip-rule="evenodd" />
                </svg>  <h3 class="text-lg font-medium text-red-900">Important! {{ announcement.content }}</h3>
                </div>
                {% if announcement.url %}
                <div class="flex">
                <a href="{{ announcement.url }}" type="button"
                    class="text-red-900 bg-transparent border border-red-900 hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-200 font-medium rounded-lg text-sm px-4 py-2 text-center">
                    Read the Full Story
                </a>
                </div>
                {% endif %}
            </div>
   
            </div>
        {% endfor %}
    {% endif %}
{% endblock %} -->

</nav>
